.book {
    div.x-main.full {
        box-sizing: border-box;
        color: rgb(102, 102, 102);
        display: block;
        float: none;
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 23.8px;
        position: relative;
        article {
            box-sizing: border-box;
            color: rgb(102, 102, 102);
            display: block;
            font-family: Lato, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 23.8px;
            margin-top: 0px;
            div.entry-content.content {
                box-sizing: border-box;
                color: rgb(102, 102, 102);
                display: block;
                font-family: Lato, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 30.6px;
                margin-top: 0px;
                div#x-section-1 {
                    background-color: rgb(20, 20, 20);
                    background-image: url(../images/bg-chairs.jpg);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin: 0px 0px 0px 0px;
                    padding: 5% 5% 5% 5%;
                    overflow: auto;
                    div.x-container.marginless-columns {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: table;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin-bottom: 0px;
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 0px;
                        padding-bottom: 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-top: 0px;
                        position: relative;
                        table-layout: fixed;
                        div.x-column.x-sm.x-1-2:first-child {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: table-cell;
                            float: none;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding: 5% 5% 5% 5%;
                            position: relative;
                            vertical-align: middle;
                            width: 50%;
                            h1 {
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 54px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: -1.89px;
                                line-height: 59.4px;
                                margin-bottom: 0px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                text-align: left;
                                text-rendering: optimizeLegibility;
                                span {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: inline;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 54px;
                                    font-style: normal;
                                    font-weight: normal;
                                    height: auto;
                                    letter-spacing: -1.89px;
                                    line-height: 59.4px;
                                    text-align: left;
                                }
                            }
                        }
                        div.x-column.x-sm.x-1-2:last-child {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: table-cell;
                            float: none;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding: 5% 0% 5% 0%;
                            position: relative;
                            vertical-align: middle;
                            width: 50%;
                            color: white;
                            div.x-raw-content {
                                border-bottom-color: rgba(255, 255, 255, 0.247059);
                                border-bottom-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                border-image-outset: 0px;
                                border-image-repeat: stretch;
                                border-image-slice: 100%;
                                border-image-source: none;
                                border-image-width: 1;
                                border-left-color: rgba(255, 255, 255, 0.247059);
                                border-left-style: solid;
                                border-left-width: 1px;
                                border-right-color: rgba(255, 255, 255, 0.247059);
                                border-right-style: solid;
                                border-right-width: 1px;
                                border-top-color: rgba(255, 255, 255, 0.247059);
                                border-top-left-radius: 4px;
                                border-top-right-radius: 4px;
                                border-top-style: solid;
                                border-top-width: 1px;
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 16.47px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 27.999px;
                                margin: 0 auto;
                                padding: 1.15em 1.5em;
                                table {
                                    width: 100%;
                                    text-align: center;
                                    .open-hours:first-child {
                                        td {
                                            font-size: 16px;
                                            text-transform: uppercase;
                                            padding-bottom: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div#x-section-2 {
                    background-color: rgba(0, 0, 0, 0);
                    border-bottom-color: rgb(21, 21, 21);
                    border-bottom-style: solid;
                    border-bottom-width: 0px;
                    border-left-color: rgb(21, 21, 21);
                    border-left-style: solid;
                    border-left-width: 0px;
                    border-right-color: rgb(21, 21, 21);
                    border-right-style: solid;
                    border-right-width: 0px;
                    border-top-color: rgb(21, 21, 21);
                    border-top-style: solid;
                    border-top-width: 1px;
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin: 0px 0px 0px 0px;
                    padding: 0px 0px 0px 0px;
                    overflow: auto;
                    width: 100%;
                    div.x-container {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin-bottom: 0px;
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: 0px;
                        padding-bottom: 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-top: 0px;
                        position: relative;
                        width: 100%;
                        div.x-column.x-sm.x-1-1 {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            width: 100%;
                            div#x-google-map-1 {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-bottom: 0px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                height: 500px;
                                width: 100%;
                            }
                        }
                    }
                }
                div#x-section-3 {
                    background-color: rgb(21, 21, 21);
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin: 0px 0px 0px 0px;
                    padding: 65px 0px 65px 0px;
                    overflow: auto;
                    background-position: 50%;
                    background-size: cover;
                    div.x-container.max.width {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin: 0px auto 0px auto;
                        padding: 0px 0px 0px 0px;
                        position: relative;
                        width: 86%;
                        div.x-column.x-sm.center-text.x-1-3:first-child {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 34.3906px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            text-align: center;
                            width: 30.66666%;
                            img {
                                border-bottom-color: rgb(102, 102, 102);
                                border-bottom-style: none;
                                border-bottom-width: 0px;
                                border-image-outset: 0px;
                                border-image-repeat: stretch;
                                border-image-slice: 100%;
                                border-image-source: none;
                                border-image-width: 1;
                                border-left-color: rgb(102, 102, 102);
                                border-left-style: none;
                                border-left-width: 0px;
                                border-right-color: rgb(102, 102, 102);
                                border-right-style: none;
                                border-right-width: 0px;
                                border-top-color: rgb(102, 102, 102);
                                border-top-style: none;
                                border-top-width: 0px;
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: inline;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-bottom: 0px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                max-width: 250px;
                                text-align: center;
                                vertical-align: middle;
                            }
                        }
                        div.x-column.x-sm.x-2-3:last-child {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding: 0px 0px 0px 0px;
                            position: relative;
                            width: 65.33332%;
                            h3 {
                                border-bottom-color: rgba(0, 0, 0, 0.247059);
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 41.13px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: -1.43955px;
                                line-height: 45.243px;
                                margin-bottom: 8px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                padding-bottom: 8px;
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 0px;
                                text-align: left;
                                text-rendering: optimizeLegibility;
                                span {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: inline;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 41.13px;
                                    font-style: normal;
                                    font-weight: normal;
                                    height: auto;
                                    letter-spacing: -1.43955px;
                                    line-height: 45.243px;
                                    text-align: left;
                                }
                            }
                            div.x-raw-content.p-info {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 24px;
                                p.man {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 24px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    span {
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        float: right;
                                        font-family: Lato, sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 24px;
                                    }
                                }
                            }
                            h4 {
                                border-bottom-color: rgba(0, 0, 0, 0.247059);
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: 0.9px;
                                line-height: 19.8px;
                                margin: 45px 0 8px;
                                padding: 0 0 10px;
                                text-align: left;
                                text-rendering: optimizeLegibility;
                                text-transform: uppercase;
                                span {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: inline;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: normal;
                                    height: auto;
                                    letter-spacing: 0.9px;
                                    line-height: 19.8px;
                                    text-align: left;
                                    text-transform: uppercase;
                                }
                            }
                            div.x-raw-content.p-features {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 24px;
                                p.man {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 24px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
                div#x-section-4 {
                    background-color: rgba(0, 0, 0, 0);
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin: 0px 0px 0px 0px;
                    padding: 65px 0px 65px 0px;
                    overflow: auto;
                    div.x-container.max.width {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        max-width: 1000px;
                        margin: 0px auto 0px auto;
                        padding: 0px 0px 0px 0px;
                        position: relative;
                        width: 86%;
                        div.x-column.x-sm.center-text.x-1-3:first-child {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            height: 250px;
                            line-height: 30.6px;
                            margin-right: 4%;
                            padding: 0px 0px 0px 0px;
                            position: relative;
                            text-align: center;
                            width: 30.66666%;
                            img {
                                border-bottom-color: rgb(102, 102, 102);
                                border-bottom-style: none;
                                border-bottom-width: 0px;
                                border-image-outset: 0px;
                                border-image-repeat: stretch;
                                border-image-slice: 100%;
                                border-image-source: none;
                                border-image-width: 1;
                                border-left-color: rgb(102, 102, 102);
                                border-left-style: none;
                                border-left-width: 0px;
                                border-right-color: rgb(102, 102, 102);
                                border-right-style: none;
                                border-right-width: 0px;
                                border-top-color: rgb(102, 102, 102);
                                border-top-style: none;
                                border-top-width: 0px;
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: inline;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-bottom: 0px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                max-width: 100%;
                                text-align: center;
                                vertical-align: middle;
                                width: 250px;
                            }
                        }
                        div.x-column.x-sm.x-2-3:last-child {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding: 0px 0px 0px 0px;
                            position: relative;
                            width: 65.33332%;
                            h3 {
                                border-bottom-color: rgba(0, 0, 0, 0.247059);
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 41.13px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: -1.43955px;
                                line-height: 45.243px;
                                margin-bottom: 8px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                padding-bottom: 8px;
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 0px;
                                text-align: left;
                                text-rendering: optimizeLegibility;
                            }
                            div.p-info {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 24px;
                                p.man {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 24px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    span {
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        float: right;
                                        font-family: Lato, sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 24px;
                                    }
                                }
                            }
                            h4 {
                                border-bottom-color: rgba(0, 0, 0, 0.247059);
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: 0.9px;
                                line-height: 19.8px;
                                margin: 45px 0 8px;
                                padding-bottom: 10px;
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 0px;
                                text-align: left;
                                text-rendering: optimizeLegibility;
                                text-transform: uppercase;
                                span {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: inline;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: normal;
                                    height: auto;
                                    letter-spacing: 0.9px;
                                    line-height: 19.8px;
                                    text-align: left;
                                    text-transform: uppercase;
                                }
                            }
                            div.p-features {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 24px;
                                p.man {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 24px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
                div#x-section-5 {
                    background-color: rgb(21, 21, 21);
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin: 0px 0px 0px 0px;
                    padding: 65px 0px 65px 0px;
                    overflow: auto;
                    div.x-container.max.width {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin-bottom: 0px;
                        margin-left: 70px;
                        margin-right: 70px;
                        margin-top: 0px;
                        max-width: 1000px;
                        padding-bottom: 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-top: 0px;
                        position: relative;
                        width: 86%;
                        div.x-1-3 {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 4%;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            text-align: center;
                            width: 30.66666%;
                            img {
                                border-bottom-color: rgb(102, 102, 102);
                                border-bottom-style: none;
                                border-bottom-width: 0px;
                                border-image-outset: 0px;
                                border-image-repeat: stretch;
                                border-image-slice: 100%;
                                border-image-source: none;
                                border-image-width: 1;
                                border-left-color: rgb(102, 102, 102);
                                border-left-style: none;
                                border-left-width: 0px;
                                border-right-color: rgb(102, 102, 102);
                                border-right-style: none;
                                border-right-width: 0px;
                                border-top-color: rgb(102, 102, 102);
                                border-top-style: none;
                                border-top-width: 0px;
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: inline;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-bottom: 0px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                max-width: 100%;
                                text-align: center;
                                vertical-align: middle;
                                width: 250px;
                            }
                        }
                        div.x-2-3 {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding: 0px 0px 0px 0px;
                            position: relative;
                            width: 65.33332%;
                            h3 {
                                border-bottom-color: rgba(0, 0, 0, 0.247059);
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 41.13px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: -1.43955px;
                                line-height: 45.243px;
                                margin-bottom: 8px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                padding-bottom: 8px;
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 0px;
                                text-align: left;
                                text-rendering: optimizeLegibility;
                                span {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: inline;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 41.13px;
                                    font-style: normal;
                                    font-weight: normal;
                                    height: auto;
                                    letter-spacing: -1.43955px;
                                    line-height: 45.243px;
                                    text-align: left;
                                }
                            }
                            div.p-info {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 24px;
                                p.man {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    height: 72px;
                                    line-height: 24px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    span {
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        float: right;
                                        font-family: Lato, sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 24px;
                                    }
                                }
                            }
                            h4 {
                                border-bottom-color: rgba(0, 0, 0, 0.247059);
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: 0.9px;
                                line-height: 19.8px;
                                margin-bottom: 8px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 45px;
                                padding-bottom: 10px;
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 0px;
                                text-align: left;
                                text-rendering: optimizeLegibility;
                                text-transform: uppercase;
                                span {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: inline;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: normal;
                                    height: auto;
                                    letter-spacing: 0.9px;
                                    line-height: 19.8px;
                                    text-align: left;
                                    text-transform: uppercase;
                                }
                            }
                            div.p-features {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 24px;
                                p.man {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 24px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .book {
        div.x-main.full {
            box-sizing: border-box;
            color: rgb(102, 102, 102);
            display: block;
            float: none;
            font-family: Lato, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 23.8px;
            position: relative;
            article {
                box-sizing: border-box;
                color: rgb(102, 102, 102);
                display: block;
                font-family: Lato, sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 23.8px;
                margin-top: 0px;
                div.entry-content.content {
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin-top: 0px;
                    div#x-section-1 {
                        background-color: rgb(20, 20, 20);
                        background-image: url(../images/bg-chairs.jpg);
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin: 0px 0px 0px 0px;
                        padding: 5% 5% 5% 5%;
                        overflow: auto;
                        div.x-container.marginless-columns {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: table;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-bottom: 0px;
                            margin-left: 0px;
                            margin-right: 0px;
                            margin-top: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            table-layout: fixed;
                            div.x-column.x-sm.x-1-2:first-child {
                                width: 100%;
                                display: block;
                                h1 {
                                    line-height: 44px;
                                    span {
                                        font-size: 40px;
                                        line-height: 44px;
                                    }
                                }
                            }
                            div.x-column.x-sm.x-1-2:last-child {
                                width: 100%;
                                display: block;
                                div.x-raw-content {
                                    border-bottom-color: rgba(255, 255, 255, 0.247059);
                                    border-bottom-left-radius: 4px;
                                    border-bottom-right-radius: 4px;
                                    border-bottom-style: solid;
                                    border-bottom-width: 1px;
                                    border-image-outset: 0px;
                                    border-image-repeat: stretch;
                                    border-image-slice: 100%;
                                    border-image-source: none;
                                    border-image-width: 1;
                                    border-left-color: rgba(255, 255, 255, 0.247059);
                                    border-left-style: solid;
                                    border-left-width: 1px;
                                    border-right-color: rgba(255, 255, 255, 0.247059);
                                    border-right-style: solid;
                                    border-right-width: 1px;
                                    border-top-color: rgba(255, 255, 255, 0.247059);
                                    border-top-left-radius: 4px;
                                    border-top-right-radius: 4px;
                                    border-top-style: solid;
                                    border-top-width: 1px;
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16.47px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 27.999px;
                                    margin: 0 auto;
                                    padding: 1.15em 0em;
                                    p.man {
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 16.47px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 27.999px;
                                        margin-bottom: 0px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                        span.right {
                                            box-sizing: border-box;
                                            color: rgb(255, 255, 255);
                                            display: block;
                                            float: right;
                                            font-family: Lato, sans-serif;
                                            font-size: 16.47px;
                                            font-style: normal;
                                            font-weight: 300;
                                            line-height: 27.999px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    div#x-section-2 {
                        background-color: rgba(0, 0, 0, 0);
                        border-bottom-color: rgb(21, 21, 21);
                        border-bottom-style: solid;
                        border-bottom-width: 0px;
                        border-left-color: rgb(21, 21, 21);
                        border-left-style: solid;
                        border-left-width: 0px;
                        border-right-color: rgb(21, 21, 21);
                        border-right-style: solid;
                        border-right-width: 0px;
                        border-top-color: rgb(21, 21, 21);
                        border-top-style: solid;
                        border-top-width: 1px;
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin: 0px 0px 0px 0px;
                        padding: 0px 0px 0px 0px;
                        overflow: auto;
                        width: 100%;
                        div.x-container {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-bottom: 0px;
                            margin-left: 0px;
                            margin-right: 0px;
                            margin-top: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            width: 100%;
                            div.x-column.x-sm.x-1-1 {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                float: left;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-right: 0px;
                                padding-bottom: 0px;
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 0px;
                                position: relative;
                                width: 100%;
                                div#x-google-map-1 {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 30.6px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    height: 500px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    div#x-section-3 {
                        background-color: rgb(21, 21, 21);
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin: 0px 0px 0px 0px;
                        padding: 30px 0px 30px 0px;
                        overflow: auto;
                        div.x-container.max.width {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin: 0px auto 0px auto;
                            padding: 0px 0px 0px 0px;
                            position: relative;
                            width: 86%;
                            overflow: auto;
                            div.x-column.x-sm.center-text.x-1-3:first-child {
                                margin-right: 0px;
                                text-align: center;
                                width: 100% !important;
                                margin-bottom: 20px;
                                img {
                                    border-bottom-color: rgb(102, 102, 102);
                                    border-bottom-style: none;
                                    border-bottom-width: 0px;
                                    border-image-outset: 0px;
                                    border-image-repeat: stretch;
                                    border-image-slice: 100%;
                                    border-image-source: none;
                                    border-image-width: 1;
                                    border-left-color: rgb(102, 102, 102);
                                    border-left-style: none;
                                    border-left-width: 0px;
                                    border-right-color: rgb(102, 102, 102);
                                    border-right-style: none;
                                    border-right-width: 0px;
                                    border-top-color: rgb(102, 102, 102);
                                    border-top-style: none;
                                    border-top-width: 0px;
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: inline;
                                    font-family: Lato, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 30.6px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    max-width: 100%;
                                    text-align: center;
                                    vertical-align: middle;
                                    width: 170px;
                                }
                            }
                            div.x-column.x-sm.x-2-3:last-child {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                float: left;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-right: 0px;
                                padding: 0px 0px 0px 0px;
                                position: relative;
                                width: 100%;
                                h3 {
                                    border-bottom-color: rgba(0, 0, 0, 0.247059);
                                    border-bottom-style: solid;
                                    border-bottom-width: 1px;
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 41.13px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.43955px;
                                    line-height: 45.243px;
                                    margin-bottom: 8px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    padding-bottom: 8px;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    padding-top: 0px;
                                    text-align: left;
                                    text-rendering: optimizeLegibility;
                                    span {
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        display: inline;
                                        font-family: Quicksand, sans-serif;
                                        font-size: 41.13px;
                                        font-style: normal;
                                        font-weight: normal;
                                        height: auto;
                                        letter-spacing: -1.43955px;
                                        line-height: 45.243px;
                                        text-align: left;
                                    }
                                }
                                div.x-raw-content.p-info {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 24px;
                                    p.man {
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 24px;
                                        margin-bottom: 0px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                        span {
                                            box-sizing: border-box;
                                            color: rgb(102, 102, 102);
                                            display: block;
                                            float: right;
                                            font-family: Lato, sans-serif;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 300;
                                            line-height: 24px;
                                        }
                                    }
                                }
                                h4 {
                                    border-bottom-color: rgba(0, 0, 0, 0.247059);
                                    border-bottom-style: solid;
                                    border-bottom-width: 1px;
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: 0.9px;
                                    line-height: 19.8px;
                                    margin: 45px 0 8px;
                                    padding: 0 0 10px;
                                    text-align: left;
                                    text-rendering: optimizeLegibility;
                                    text-transform: uppercase;
                                    span {
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        display: inline;
                                        font-family: Quicksand, sans-serif;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: normal;
                                        height: auto;
                                        letter-spacing: 0.9px;
                                        line-height: 19.8px;
                                        text-align: left;
                                        text-transform: uppercase;
                                    }
                                }
                                div.x-raw-content.p-features {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 24px;
                                    p.man {
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 24px;
                                        margin-bottom: 0px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                    }
                                }
                            }
                        }
                    }
                    div#x-section-4 {
                        background-color: rgba(0, 0, 0, 0);
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin: 0px 0px 0px 0px;
                        padding: 65px 0px 65px 0px;
                        overflow: auto;
                        div.x-container.max.width {
                            overflow: auto;
                            div.x-column.x-sm.center-text.x-1-3:first-child {
                                width: 100% !important;
                                display: block;
                                margin-bottom: 20px !important;
                                img {}
                            }
                            div.x-column.x-sm.x-2-3:last-child {
                                width: 100% !important;
                                display: block;
                                h3 {
                                    border-bottom-color: rgba(0, 0, 0, 0.247059);
                                    border-bottom-style: solid;
                                    border-bottom-width: 1px;
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 41.13px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.43955px;
                                    line-height: 45.243px;
                                    margin-bottom: 8px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    padding-bottom: 8px;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    padding-top: 0px;
                                    text-align: left;
                                    text-rendering: optimizeLegibility;
                                }
                                div.p-info {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 24px;
                                    p.man {
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 24px;
                                        margin-bottom: 0px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                        span {
                                            box-sizing: border-box;
                                            color: rgb(102, 102, 102);
                                            display: block;
                                            float: right;
                                            font-family: Lato, sans-serif;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 300;
                                            line-height: 24px;
                                        }
                                    }
                                }
                                h4 {
                                    border-bottom-color: rgba(0, 0, 0, 0.247059);
                                    border-bottom-style: solid;
                                    border-bottom-width: 1px;
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: 0.9px;
                                    line-height: 19.8px;
                                    margin: 45px 0 8px;
                                    padding-bottom: 10px;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    padding-top: 0px;
                                    text-align: left;
                                    text-rendering: optimizeLegibility;
                                    text-transform: uppercase;
                                    span {
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        display: inline;
                                        font-family: Quicksand, sans-serif;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: normal;
                                        height: auto;
                                        letter-spacing: 0.9px;
                                        line-height: 19.8px;
                                        text-align: left;
                                        text-transform: uppercase;
                                    }
                                }
                                div.p-features {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 24px;
                                    p.man {
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 24px;
                                        margin-bottom: 0px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                    }
                                }
                            }
                        }
                    }
                    div#x-section-5 {
                        background-color: rgb(21, 21, 21);
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin: 0px 0px 0px 0px;
                        padding: 65px 0px 65px 0px;
                        overflow: auto;
                        div.x-container.max.width {
                            overflow: auto;
                            div.x-1-3 {
                                width: 100% !important;
                                display: block;
                                margin-bottom: 20px !important;
                                img {}
                            }
                            div.x-2-3 {
                                width: 100%;
                                h3 {
                                    border-bottom-color: rgba(0, 0, 0, 0.247059);
                                    border-bottom-style: solid;
                                    border-bottom-width: 1px;
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 41.13px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.43955px;
                                    line-height: 45.243px;
                                    margin-bottom: 8px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    padding-bottom: 8px;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    padding-top: 0px;
                                    text-align: left;
                                    text-rendering: optimizeLegibility;
                                    span {
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        display: inline;
                                        font-family: Quicksand, sans-serif;
                                        font-size: 41.13px;
                                        font-style: normal;
                                        font-weight: normal;
                                        height: auto;
                                        letter-spacing: -1.43955px;
                                        line-height: 45.243px;
                                        text-align: left;
                                    }
                                }
                                div.p-info {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 24px;
                                    p.man {
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 300;
                                        height: 72px;
                                        line-height: 24px;
                                        margin-bottom: 0px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                        span {
                                            box-sizing: border-box;
                                            color: rgb(102, 102, 102);
                                            display: block;
                                            float: right;
                                            font-family: Lato, sans-serif;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 300;
                                            line-height: 24px;
                                        }
                                    }
                                }
                                h4 {
                                    border-bottom-color: rgba(0, 0, 0, 0.247059);
                                    border-bottom-style: solid;
                                    border-bottom-width: 1px;
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: 0.9px;
                                    line-height: 19.8px;
                                    margin-bottom: 8px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 45px;
                                    padding-bottom: 10px;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    padding-top: 0px;
                                    text-align: left;
                                    text-rendering: optimizeLegibility;
                                    text-transform: uppercase;
                                    span {
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        display: inline;
                                        font-family: Quicksand, sans-serif;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: normal;
                                        height: auto;
                                        letter-spacing: 0.9px;
                                        line-height: 19.8px;
                                        text-align: left;
                                        text-transform: uppercase;
                                    }
                                }
                                div.p-features {
                                    box-sizing: border-box;
                                    color: rgb(102, 102, 102);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 24px;
                                    p.man {
                                        box-sizing: border-box;
                                        color: rgb(102, 102, 102);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 24px;
                                        margin-bottom: 0px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #x-section-3 {
        .x-container {
            overflow: auto;
            .x-column {
                float: left !important;
                margin-right: 0px !important;
            }
            .x-column:last-child {
                padding-left: 30px !important;
            }
        }
    }
}

@media screen and (max-width: 1060px) {
    div#x-section-1 {
        div.x-container.marginless-columns {
            div.x-column.x-sm.x-1-2:first-child {
                width: 100% !important;
                display: block !important;
                h1 {
                    line-height: 44px;
                    text-align: center !important;
                    span {
                        font-size: 40px;
                        line-height: 44px;
                    }
                }
            }
            div.x-column.x-sm.x-1-2:last-child {
                width: 100% !important;
                display: block !important;
            }
        }
    }
}
