.gallery {
    padding-bottom: 20px;
    div.x-main.full {
        box-sizing: border-box;
        color: rgb(102, 102, 102);
        display: block;
        float: none;
        font-family: Lato, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 23.8px;
        position: relative;
        article {
            box-sizing: border-box;
            color: rgb(102, 102, 102);
            display: block;
            font-family: Lato, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 23.8px;
            margin-top: 0px;
            div.entry-content.content {
                box-sizing: border-box;
                color: rgb(102, 102, 102);
                display: block;
                font-family: Lato, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 30.6px;
                margin-top: 0px;
                div#x-section-1 {
                    background-color: rgba(0, 0, 0, 0);
                    background-image: url(../images/bg-chairs.jpg);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin: 0px 0px 0px 0px;
                    padding: 10% 10% 10% 10%;
                    overflow: auto;
                    div.x-container {
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin: 0px auto 0px auto;
                        padding: 0px 0px 0px 0px;
                        position: relative;
                        div.x-column.x-sm.x-1-1 {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            float: left;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin-right: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            padding-right: 0px;
                            padding-top: 0px;
                            position: relative;
                            width: 100%;
                            h1.h-custom-headline.man.h2 {
                                box-sizing: border-box;
                                color: rgb(255, 255, 255);
                                display: block;
                                font-family: Quicksand, sans-serif;
                                font-size: 51.426px;
                                font-style: normal;
                                font-weight: normal;
                                letter-spacing: -1.79991px;
                                line-height: 56.5686px;
                                margin-bottom: 0px;
                                margin-left: 0px;
                                margin-right: 0px;
                                margin-top: 0px;
                                text-rendering: optimizeLegibility;
                                span {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: inline;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 51.426px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.79991px;
                                    line-height: 56.5686px;
                                }
                            }
                            div.x-raw-content.mts {
                                box-sizing: border-box;
                                color: rgba(255, 255, 255, 0.45098);
                                display: block;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-top: 9px;
                                p.man {
                                    box-sizing: border-box;
                                    color: rgba(255, 255, 255, 0.45098);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 30.6px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
                div.instagram-widget {
                    h3 {
                        font-family: Quicksand, sans-serif;
                        color: white;
                        font-size: 20px;
                        a{
                            color: white;
                        }
                    }
                }
                div.list-img {
                    text-align: center;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    div {
                        display: inline;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        img {
                            border: 5px solid #2B2A2A;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .gallery {
        div.x-main.full {
            box-sizing: border-box;
            color: rgb(102, 102, 102);
            display: block;
            float: none;
            font-family: Lato, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 23.8px;
            position: relative;
            article {
                box-sizing: border-box;
                color: rgb(102, 102, 102);
                display: block;
                font-family: Lato, sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 23.8px;
                margin-top: 0px;
                div.entry-content.content {
                    box-sizing: border-box;
                    color: rgb(102, 102, 102);
                    display: block;
                    font-family: Lato, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 30.6px;
                    margin-top: 0px;
                    div#x-section-1 {
                        background-color: rgba(0, 0, 0, 0);
                        background-image: url(../images/bg-chairs.jpg);
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        box-sizing: border-box;
                        color: rgb(102, 102, 102);
                        display: block;
                        font-family: Lato, sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 30.6px;
                        margin: 0px 0px 0px 0px;
                        padding: 10% 10% 10% 10%;
                        overflow: auto;
                        div.x-container {
                            box-sizing: border-box;
                            color: rgb(102, 102, 102);
                            display: block;
                            font-family: Lato, sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 30.6px;
                            margin: 0px auto 0px auto;
                            padding: 0px 0px 0px 0px;
                            position: relative;
                            div.x-column.x-sm.x-1-1 {
                                box-sizing: border-box;
                                color: rgb(102, 102, 102);
                                display: block;
                                float: left;
                                font-family: Lato, sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 30.6px;
                                margin-right: 0px;
                                padding-bottom: 0px;
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 0px;
                                position: relative;
                                width: 100%;
                                h1.h-custom-headline.man.h2 {
                                    box-sizing: border-box;
                                    color: rgb(255, 255, 255);
                                    display: block;
                                    font-family: Quicksand, sans-serif;
                                    font-size: 30px;
                                    font-style: normal;
                                    font-weight: normal;
                                    letter-spacing: -1.79991px;
                                    line-height: 30px;
                                    margin-bottom: 0px;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                    text-rendering: optimizeLegibility;
                                    span {
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        display: inline;
                                        font-family: Quicksand, sans-serif;
                                        font-size: 30px;
                                        font-style: normal;
                                        font-weight: normal;
                                        letter-spacing: -1.79991px;
                                        line-height: 30px;
                                    }
                                }
                                div.x-raw-content.mts {
                                    box-sizing: border-box;
                                    color: rgba(255, 255, 255, 0.45098);
                                    display: block;
                                    font-family: Lato, sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 30.6px;
                                    margin-top: 9px;
                                    p.man {
                                        box-sizing: border-box;
                                        color: rgba(255, 255, 255, 0.45098);
                                        display: block;
                                        font-family: Lato, sans-serif;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: 30.6px;
                                        margin-bottom: 0px;
                                        margin-left: 0px;
                                        margin-right: 0px;
                                        margin-top: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
