<div class="col-xs-12 col-sm-4 col-md-3">
    <ul class="list-group">
        <a class="list-group-item" ui-sref-active="active" ui-sref="language.create">create new</a>
        <a ng-repeat="file in LanguageFiles" class="list-group-item" ui-sref-active="active" ui-sref="language.edit({filename: file})" ng-bind="file"></a>
    </ul>
</div>
<div class="col-xs-12 col-sm-8 col-md-9">
	<div ui-view></div>
</div>
