@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-Regular.ttf");
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: 'proximanova';
  src: url("..//fonts/proximanova/Mark%20Simonson%20-%20Proxima%20Nova%20Regular.otf");
}
@font-face {
  font-family: 'arialroundedmt';
  src: url("../fonts/arial-rounded-mt.ttf");
}
@font-face {
  font-family: 'Cheap Pine W00 Sans';
  src: url("../fonts/CheapPineW00-Sans.ttf");
}
@font-face {
  font-family: 'BrandonGrotW01-Regular';
  src: url("../fonts/BrandonGrotW01-Regular.ttf");
}
#wrapper a {
  text-decoration: none;
}

h1 {
  padding: 0;
  margin: 0;
}

body {
  background: #000;
}

@font-face {
  font-family: font_button10;
  src: url(../fonts/e7ef3750-c184-4513-82eb-8d37775e042b.woff);
}
@font-face {
  font-family: 'cheap-pine';
  src: url("../fonts/228f8a18-7a49-466c-b9ec-c17297226770.woff");
}
@font-face {
  font-family: "cheap-pine_2";
  src: url("../fonts/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2");
}
@font-face {
  font-family: "cheap-pine_3";
  src: url("../fonts/Cheap_Pine_W00_Sans.woff");
}
.events {
  margin-top: 20px;
  text-align: center;
}
.events > div {
  display: inline-block;
  float: none !important;
}
.events .event-image img {
  width: 100%;
}
.events .cnt .event-title {
  font-size: 20px;
}

#wrapper .header .navbar {
  background: #000;
}
#wrapper .header .navbar #bs-example-navbar-collapse-1 {
  text-align: center;
}
#wrapper .header .navbar a {
  color: #F0F0E0;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}
#wrapper .header .navbar a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#wrapper .header .navbar .menu_top_navbar {
  float: none;
  display: inline-block;
}
#wrapper .header .navbar .navbar-left-logo {
  min-width: 220px;
}
#wrapper .header .navbar .nav {
  margin-right: 10px;
}
#wrapper .header .navbar .nav li a {
  padding: 15px 12px;
}
#wrapper .header .navbar .reservation li:first-child a {
  color: #B01815;
}
#wrapper .content {
  margin-top: 44px;
}
#wrapper .content .content-area {
  background: url("../images/background-top.png") top left repeat #585858;
  background-size: cover;
  width: 100%;
  text-align: center;
}
#wrapper .content .content-area .main {
  box-shadow: 0 0 0 1000px rgba(63, 63, 63, 0.3) inset;
  width: 100%;
  background-size: cover;
  padding-top: 8.167%;
  color: #efefef;
  padding-bottom: 180px;
  background-position: 50% 50%;
}
#wrapper .content .content-area .main h1 {
  background-size: contain;
  padding: 0 0 1%;
  margin: 0 auto;
  max-width: 623px;
  text-transform: uppercase;
  font-size: 60px;
}
#wrapper .content .content-area .main .entry-content {
  width: 120px;
  height: 3px;
  background: #efefef;
  margin: 30px auto 30px;
}
#wrapper .content .content-area .main address {
  font: normal normal 14px/160% 'BrandonGrotW01-Regular', sans-serif;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0;
}
#wrapper .content .content-area .main p {
  margin: 0;
  text-transform: uppercase;
}
#wrapper .content .content-area .main p a {
  color: #efefef;
  display: inline-block;
  padding: 0 15px;
  font: normal normal 16px/45px 'Brandon Grot W02 Bold', sans-serif;
  letter-spacing: 2.5px;
  font-family: font_button10;
}
#wrapper .content .content-area .main p .reservations {
  background: #AE1B1D;
  cursor: pointer;
  text-align: center;
  margin: 7.5% auto 0;
}
#wrapper .content .content-area .main p .giftcard {
  border: 1px solid #F0F0E0;
}
#wrapper .widget_black_studio_tinymce {
  background: #981A18;
  padding: 30px;
  position: relative;
  color: #F0F0E0;
}
#wrapper .widget_black_studio_tinymce .widget-title {
  background: #981a18;
  margin: -66px auto 50px;
  padding: 0 30px;
  text-align: center;
  text-transform: uppercase;
  max-width: 714px;
  letter-spacing: 2px;
  z-index: 100;
}
#wrapper .widget_black_studio_tinymce .textwidget {
  margin: 0 auto;
  max-width: 714px;
  width: 100%;
}
#wrapper .widget_black_studio_tinymce .textwidget p {
  letter-spacing: .5px;
  margin: 0 0 22px;
  letter-spacing: 0.5px;
}
#wrapper #menus {
  padding: 0;
  position: relative;
}
#wrapper #menus .header-menus {
  background: url("../images/red-pattern.png") top left repeat;
  background-size: cover;
  padding: 30px 20px 30px;
  text-transform: uppercase;
  text-align: center;
}
#wrapper #menus .header-menus .widget-title {
  margin: 20px 0;
  text-align: center;
  font-family: font_button10;
  font-size: 25px;
}
#wrapper #menus .header-menus .bc_menus {
  list-style-type: none;
  margin: 0 0 40px;
  padding: 0;
  text-align: center;
  width: 100%;
}
#wrapper #menus .header-menus .bc_menus li {
  display: inline-block;
  margin: 0 24px;
}
#wrapper #menus .header-menus .bc_menus li a {
  font-size: 28px;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 2px 14px;
  color: #F0F0DF;
}
#wrapper #menus .header-menus .bc_menus li a.active {
  background: #F0F0DF;
  color: #000;
}
#wrapper #menus .header-menus .bc_menus li a:hover {
  background: #F0F0DF;
  color: #000;
}
#wrapper #menus .header-menus .learn_about_our {
  font-size: 15px;
  font-weight: 600;
}
#wrapper #menus .header-menus .menu_select a {
  font-family: 'Cheap Pine W00 Sans';
  font-size: 29px;
  letter-spacing: 1px;
  color: #F0F0DF;
  cursor: pointer;
  border: 0px solid #F0F0DF;
  padding: 0 10px;
}
#wrapper #menus .header-menus .menu_select a:hover {
  background: #F0F0DF;
  color: #000;
}
#wrapper #menus .content {
  background: url("../images/menu-content.png") center top repeat;
  padding: 60px 4.16666667%;
  margin-top: 0;
}
#wrapper #menus .content .menu_content {
  background: url("../images/knife.png") center 6px no-repeat #efefef;
  border: 8px solid #fff;
  overflow: auto;
  padding: 50px 48px 30px;
  position: relative;
}
#wrapper #menus .content .menu_content h3 {
  font-family: 'cheap-pine';
}
#wrapper #menus .content .menu_content .dinner {
  color: #000;
  text-align: center;
  font-size: 43px;
}
#wrapper #menus .content .menu_content .menu_content_row_list .col-hold-left {
  border-right: 0px solid #313131;
}
#wrapper #menus .content .menu_content .menu_content_row_list .col-hold {
  border-right: 0px solid #313131;
  border-left: 0px solid #313131;
  margin-bottom: -20px;
}
#wrapper #menus .content .menu_content .menu_content_row_list .col-hold h3 {
  color: #981A18;
  font-size: 37px;
  border-bottom: 0px solid #313131;
  padding-bottom: 10px;
  padding: 15px 20px;
}
#wrapper #menus .content .menu_content .menu_content_row_list .col-hold h3 em {
  font-family: "cheap-pine_2";
  font-size: 16px;
  margin-top: -10px;
}
#wrapper #menus .content .menu_content .menu_content_row_list .col-hold p {
  font-size: 16px;
  color: #000;
  padding: 5px 20px;
  font-family: "cheap-pine_2";
  border-bottom: 0px solid #313131;
}
#wrapper #menus .content .menu_content .menu_content_row_list .col-hold p strong {
  font-family: font_button10;
}
#wrapper .private-events {
  color: #F0F0E0;
  background: url("../images/bg-gray.png") top left repeat #333;
  padding: 30px;
  position: relative;
}
#wrapper .private-events h3 {
  color: #F0F0E0;
  font: normal normal 24px/120% 'Brandon Grot W02 Bold', sans-serif;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
#wrapper .private-events .textwidget {
  margin: 0 auto;
  max-width: 714px;
  width: 100%;
}
#wrapper .private-events .textwidget p {
  font-family: "cheap-pine_2";
  font-size: 15px;
}
#wrapper .private-events .buttons {
  padding: 20px 10px;
  position: relative;
  text-align: center;
  margin-bottom: -74px;
  background: url("../images/bg-gray.png") top left repeat #333;
  z-index: 20;
  width: 55%;
  margin: auto;
}
#wrapper .private-events .buttons a {
  border: 1px solid #F0F0DE;
  color: #F0F0DE;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 0 11px;
  padding: 0 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #F0F0E0;
  position: relative;
  font: normal normal 27px/32px 'Cheap Pine W00 Sans', sans-serif;
}
#wrapper .slider3 {
  position: relative;
}
#wrapper .slider3 .caption-wrap {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  padding: 30px;
  left: 0;
  bottom: 10%;
  max-width: 400px;
  color: #ECECEC;
}
#wrapper .slider3 .caption-wrap .caption h2 {
  text-transform: uppercase;
  font-family: font_button10;
}
#wrapper .slider2, #wrapper .slider4 {
  color: #F0F0E0;
}
#wrapper .slider2 .container .col-md-3, #wrapper .slider4 .container .col-md-3 {
  padding-left: 0;
}
#wrapper .slider2 .container .col-md-9, #wrapper .slider4 .container .col-md-9 {
  padding-left: 30px;
}
#wrapper .slider2 .container .col-md-9 .slider2_entry h4, #wrapper .slider4 .container .col-md-9 .slider2_entry h4 {
  color: #B21406;
  text-transform: uppercase;
  margin-top: 0;
  font-family: font_button10;
  margin-bottom: 5px;
}
#wrapper .slider2 .container .col-md-9 .slider2_entry p, #wrapper .slider4 .container .col-md-9 .slider2_entry p {
  font-family: "BrandonGrotW01-Regular";
  font-size: 18px;
}
#wrapper .slider2 .slide-container, #wrapper .slider4 .slide-container {
  width: 100%;
  position: relative;
}
#wrapper .slider2 .slide-container .slide-stage, #wrapper .slider4 .slide-container .slide-stage {
  margin-bottom: 30px;
}
#wrapper .slider2 .slide-container .slide-stage .slide-image img, #wrapper .slider4 .slide-container .slide-stage .slide-image img {
  width: 100%;
}
#wrapper .slider2 .slide-container .slide-pager .slide-control-prev, #wrapper .slider4 .slide-container .slide-pager .slide-control-prev {
  position: absolute;
  left: 0;
  bottom: 40%;
}
#wrapper .slider2 .slide-container .slide-pager .slide-control-next, #wrapper .slider4 .slide-container .slide-pager .slide-control-next {
  position: absolute;
  right: 0;
  bottom: 40%;
}
#wrapper .slider2 h3, #wrapper .slider4 h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: font_button10;
  font-size: 25px;
  padding: 30px 0 0 0;
}
#wrapper footer .footer {
  background: url(../images/background-contact.png) left center no-repeat, url(../images/bg-gray.png);
}
#wrapper footer .footer .container {
  padding: 30px 140px;
  color: #F0F0E0;
}
#wrapper footer .footer .container .footer-contact h3 {
  text-align: center;
  padding: 10px 0 0 0;
  text-transform: uppercase;
}
#wrapper footer .footer .container .footer-contact .content-contact h3 {
  margin-top: 0;
}
#wrapper footer .footer .container .footer-contact .content-contact table {
  margin-bottom: 15px;
}
#wrapper footer .footer .container .footer-contact .content-contact .open-hours table {
  width: 100%;
}
#wrapper footer .footer .container .footer-contact .content-contact #restaurant-map {
  height: 250px;
}
#wrapper footer .footer2 {
  text-align: center;
  background: #981A18;
  padding: 30px;
}
#wrapper footer .footer2 h3 {
  color: #f0f0e0;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  padding-bottom: 15px;
}
#wrapper footer .footer2 .form-email input {
  padding: 0 5px;
  font-family: "Cheap Pine W00 Sans";
  font-size: 20px;
  border: none;
}
#wrapper footer .footer2 .form-email input:focus {
  outline: none;
}
#wrapper footer .footer2 .form-email #footer2_button {
  background: #981A18;
  color: #fff;
  margin-left: 15px;
  padding: 0 15px;
  border: 1px solid #fff;
}
#wrapper footer .footer3 {
  background: #161616;
}
#wrapper footer .footer3 .footer3_1 {
  background: #161616;
  display: block;
  float: left;
  width: 50%;
  padding-top: 60px;
}
#wrapper footer .footer3 .footer3_1 h3 {
  display: block;
  height: 25px;
  margin: 36px auto;
  width: 25px;
}
#wrapper footer .footer3 .footer3_1 h3 .instagram-icon {
  background: url("../images/icon-instagram.png") center center no-repeat;
  display: block;
  height: 27px;
  text-indent: -10000px;
  width: 25px;
}
#wrapper footer .footer3 .footer3_1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#wrapper footer .footer3 .footer3_1 ul li {
  display: inline-block;
}
#wrapper footer .footer3 .footer3_1 ul li img {
  display: block;
  height: auto !important;
  margin: 4.5% auto 0;
  width: 91.25%;
  border: 5px solid #fff;
}
#wrapper footer .footer3 .footer3_1 .instagram-widget {
  margin: 0px auto;
  max-width: 450px;
  padding: 0px 15px;
}
#wrapper footer .footer3 .footer3_2 {
  background: black;
  padding-top: 60px;
  padding-bottom: 20px;
  overflow: hidden;
  text-align: center;
}
#wrapper footer .footer3 .footer3_2 h1 {
  display: block;
  height: 25px;
  margin: 36px auto;
  width: 25px;
}
#wrapper footer .footer3 .footer3_2 h1 a {
  display: block;
  height: 27px;
  text-indent: -10000px;
  width: 33px;
  background: url("../images/icon-twitter.png") center center no-repeat;
}
#wrapper footer .footer3 .footer3_2 ul {
  color: #f0f0e0;
  display: block;
  margin: 0 auto;
  width: 87.5%;
  font: normal normal 19px/120% 'BrandonGrotW01-Regular', sans-serif;
}
#wrapper footer .footer3 .footer3_2 ul li {
  list-style: none;
  margin-bottom: 15px;
}
#wrapper footer .footer3 .footer3_2 ul li a {
  color: #801814;
  text-decoration: none;
}
#wrapper footer .footer3 .footer3_2 .fb-page {
  padding: 0px 15px;
}
#wrapper footer .footer4 {
  clear: both;
  display: block;
  margin: 0;
  padding: 30px 20px;
  width: 100%;
  background: #9c0917;
}
#wrapper footer .footer4 .textwidget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#wrapper footer .footer4 .textwidget ul li {
  display: inline-block;
}
#wrapper footer .footer4 .textwidget ul .scarletoak {
  background-position: 0 0;
}
#wrapper footer .footer4 .textwidget ul .gibbetgrill {
  background-position: -115px 0;
}
#wrapper footer .footer4 .textwidget ul .barn {
  background-position: -243px 0;
}
#wrapper footer .footer4 .textwidget ul .fireside {
  background-position: -353px 0;
}
#wrapper footer .footer4 .textwidget ul .gibbetfarm {
  background-position: -484px 0;
}
#wrapper footer .footer4 .textwidget ul .moraine {
  background-position: -592px 0;
}
#wrapper footer .footer4 .textwidget ul .fruitlands {
  background-position: -723px 0;
}
#wrapper footer .footer4 .textwidget ul .labelle {
  background-position: -830px 0;
}
#wrapper footer .footer5 {
  background: #000;
}
#wrapper footer .footer5 .textwidget {
  margin: 0 auto;
  max-width: 1100px;
}
#wrapper footer .footer5 .textwidget p {
  color: #F0F0E0;
  font: 13px/42px 'BrandonGrotW01-Regular', sans-serif;
  letter-spacing: 2.5px;
  margin: 0;
  text-transform: uppercase;
}
#wrapper footer .footer5 .textwidget p .span {
  margin-right: 10px;
}
#wrapper footer .footer5 .textwidget p a {
  color: #F0F0E0;
  text-decoration: none;
}
#wrapper footer .footer5 .textwidget p a.group {
  background: #9c0917;
  color: #F0F0E0;
  cursor: pointer;
  display: block;
  float: right;
  font: 14px/42px 'Brandon Grot W02 Bold', sans-serif;
  letter-spacing: 0;
  padding: 0 14px;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 600px) {
  #wrapper footer .footer3 .footer3_1,
  #wrapper footer .footer3 .footer3_2 {
    clear: both;
    float: none;
    padding: 1px 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #wrapper footer .footer3 .footer3_1 ul li {
    height: 160px;
    padding: 0;
    width: 160px;
    vertical-align: top;
  }
}
@media (max-max: 1200px) {
  #wrapper footer .footer .container {
    padding: 30px 0;
  }
}
@media (max-width: 768px) {
  .container {
    text-align: center;
  }

  #wrapper .slider2 .container {
    padding: 30px 15px;
  }
}
footer .footer .container {
  width: 100%;
}
footer .footer .container .footer-contact {
  overflow: auto;
}
footer .footer .container .footer-contact .content-contact {
  overflow: auto;
  font-family: 'BrandonGrotW01-Regular';
}

#slider img {
  min-height: 300px;
}

.bc-show-list-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  #wrapper .widget_black_studio_tinymce .widget-title {
    margin-bottom: -10px;
  }

  .navbar {
    background-color: transparent !important;
  }
  .navbar .container-fluid {
    padding: 0px;
  }
  .navbar #bs-example-navbar-collapse-1 {
    background-color: #AE1B1D;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .navbar #bs-example-navbar-collapse-1 ul {
    margin-right: 0px;
  }
  .navbar #bs-example-navbar-collapse-1 ul li a {
    margin-left: 0px;
    margin-right: 0px;
  }

  .content {
    margin-top: 0px !important;
  }

  .navbar-header {
    display: none;
  }

  .menu_top_navbar li {
    text-align: center;
  }
  .menu_top_navbar li a:hover {
    color: #8A0000;
  }

  .nav {
    margin-right: 0px;
  }

  .navbar-nav {
    margin: 0px 0px;
  }

  .navbar-collapse {
    max-height: 600px !important;
  }

  .navbar-right {
    text-align: center;
    padding-bottom: 20px;
  }
  .navbar-right li:first-child {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .navbar-right li {
    display: inline;
  }
  .navbar-right li a {
    display: inline;
  }

  #wrapper .header .navbar .menu_top_navbar {
    position: static;
  }

  .bc-show-list-menu {
    display: inline-block;
    position: fixed;
    top: 11px;
    right: 20px;
    font-size: 25px !important;
    border-radius: 50%;
    background-color: #AE1B1D;
    background-image: url("../images/nav-mobile.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 980px) {
  .col-hold-left {
    border-right: 0px !important;
  }

  .col-hold p:last-child {
    margin-bottom: 0px;
  }

  .bc-rpsv {
    margin-top: 0px;
  }

  #wrapper .content .content-area .main {
    padding-bottom: 40px;
  }
  #wrapper .content .content-area .main p .reservations {
    margin-bottom: 15px;
  }
  #wrapper .widget_black_studio_tinymce .widget-title {
    margin-top: 0px;
  }
  #wrapper #menus .header-menus .bc_menus li {
    display: block;
    text-align: center;
    margin: 0 auto 15px;
  }
  #wrapper #menus .content .menu_content {
    padding: 50px 20px 30px;
  }
  #wrapper .private-events .buttons {
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
  }
  #wrapper .private-events .buttons a {
    display: block;
    margin-bottom: 20px;
    padding: 6px 14px;
  }
  #wrapper footer .footer .container {
    padding: 30px 20px;
  }
  #wrapper footer .footer .container strong {
    font-family: 'BrandonGrotW01-Regular';
    font-size: 15px;
    text-transform: uppercase;
    display: block;
  }
  #wrapper footer .footer .container .footer-contact .content-contact h3 {
    color: #B01814;
    font-size: 25px;
    font-family: 'BrandonGrotW01-Regular';
  }
  #wrapper footer .footer5 {
    padding: 0px 30px;
  }
  #wrapper footer .footer5 .textwidget {
    margin-top: 20px;
  }
  #wrapper footer .footer5 .textwidget p {
    line-height: 23px;
  }
  #wrapper footer .footer5 .textwidget p span {
    display: block;
    text-align: center;
  }
  #wrapper footer .footer5 .textwidget p a {
    display: block !important;
    text-align: center;
    float: none !important;
  }
  #wrapper footer .footer5 .textwidget p a.group {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
