#contact-us {
    #session_contact_Us {
        @include bg_url(url(../images/contact_us/contact_us1.jpg) center 0 fixed);
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);
        background-size: 100%!important;
    }
    .content_contact_us {
        padding: 40px 0px 0px 0px;
    }
    #restaurant-map {
        height: 400px;
    }
    .sidebar {
        h3 {
            font-family: myFirstFont;
            font-weight: 900;
            margin-top: 7px;
        }
    }
    .sidebar-bottom {
        @extend .sidebar;
        margin-top: 40px;
    }
    .contact_us_left {
        .col-md-12 {
            padding: 0;
            .eight_columns {
                color: #686868;
            }
        }
        .col-md-10 {
            padding: 0;
            padding-right: 20px;
        }
        .form_contact_us {
            label {
                @extend .eight_columns;
                font-weight: 100;
            }
            textarea {
                border-radius: 0;
            }
            input {
                @extend textarea;
                height: 45px;
            }
            button {
                border-radius: 20px;
                padding: 10px 30px;
                background: #000;
                color: white;
                font-size: 11px;
                border-color: none;
                &:hover {
                    background: white;
                    color: #000;
                    border: 1px solid #ccc;
                }
            }
        }
    }
    #contact-form {
        .contact-form-content {
            margin: 50px 0px;
            padding: 0px;
        }
    }
    .list_icon_contact_us {
        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            margin-right: 10px;
            text-align: center;
            border-radius: 2px;
            .fa {
                font-size: 26px;
                color: #fff;
                line-height: 35px;
            }
        }
        .instagram_bg {
            background: #B17D4E;
        }
        .facebook_bg {
            background: #3b5998;
        }
    }
}
