* {
    padding: 0;
    margin: 0;
}

html,
div {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {}

a img {
    border: 0;
}

a {
    color: #ce9702;
    text-decoration: none;
}

.active {
    font-weight: bold;
}

.active-2 {
    color: #f19533 !important;
}

.zoomer:active {
    top: 0;
}

.hiddent {
    display: none;
    transition: all 3s ease;
}

.active {
    display: block;
    transition: all 3s ease;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Q-XbT1m22Fi9BEKb7y59O_k_vArhqVIZ0nv9q090hN8.woff2);
}

@font-face {
    font-family: myLastFont;
    src: url(../fonts/4vRXIs1BEbKX6mQ7lGu1I_esZW2xOQ-xsNqO47m55DA.woff2);
}

#page a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Alegreya", "Georgia", serif;
}

#header {
    .header-reponsive {
        background: #242628;
        text-align: center;
        padding: 14px 0;
        position: absolute;
        width: 100%;
        position: fixed;
        z-index: 1000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.01, rgb(20, 22, 23)), color-stop(1, rgb(34, 36, 38)));
        display: none;
        span {
            color: #eeeeee;
            font-size: 22px;
            float: left;
            top: -4px;
            left: 10px;
            cursor: pointer;
        }
        h1 {
            margin: 0;
            font-size: 14px;
            font-weight: 900;
            color: #eeeeee;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        }
    }
    .container {
        padding: 0 30px;
        #tophead {
            background: #3C3C3C;
            padding: 3px 20px 7px 17px;
            .row {
                margin: 0;
                .social-icons {
                    a {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        float: left;
                        text-align: center;
                        background: #515151;
                        margin-right: 5px;
                        .fa {
                            color: #000;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
                .six_columns2 {
                    margin-top: 3px;
                    font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
                    text-transform: uppercase;
                    font-size: 11px;
                    float: right;
                    a {
                        color: white;
                        &:hover {
                            color: #CCC6C6;
                        }
                    }
                }
            }
        }
        .mainhead {
            padding: 5px 15px 10px 20px;
            overflow: auto;
            background: white;
            box-shadow: 0 0 5px #ccc;
            .logo {
                float: left;
                img {
                    max-height: 150px;
                    z-index: 5;
                }
            }
            .menu {
                padding-top: 42px;
                float: left;
                text-transform: uppercase;
                font-size: 13px;
                font-family: "Alegreya", "Georgia", serif;
                nav {
                    li {
                        &:hover {
                            ul {
                                display: block;
                            }
                        }
                        a {
                            padding: 10px;
                            color: #686868;
                            &:hover {
                                background: none;
                            }
                        }
                    }
                    .active {
                        a {
                            font-weight: bold!important;
                        }
                    }
                }
            }
        }
    }
}

.slider {
    .item {
        img {}
        .carousel-caption {
            padding-bottom: 110px;
            h3 {
                font-size: 60px;
                font-family: myFirstFont;
                font-weight: 900;
            }
            p {
                a {
                    padding: 10px 32px;
                    background: #000;
                    opacity: 0.7;
                    border-radius: 25px;
                    color: white;
                    font-size: 11px;
                    &:hover {
                        color: black;
                        background: white;
                    }
                }
            }
        }
    }
}

// main
.main {
    .container {
        padding: 0 15px;
        .flexslider {
            // padding: 37px 15px 45px 15px;
            background: white;
            margin: 15px 15px 30px 15px;
            box-shadow: 0 0 5px #ccc;
            .home-widget {
                text-align: center;
                position: relative;
                .slider {
                    list-style-type: none;
                    overflow: auto;
                    li {

                        min-height: 75px;
                        width: 100%;



                        position: absolute;
                        top: 0;
                        transition: all 2s;
                        -webkit-transition: all 0.5s;
                        opacity: 0;
                        padding: 5px;
                        p {
                            font-family: myFirstFont;
                            font-style: italic;
                            color: #323232;
                            font-weight: normal;
                            font-size: 2.14em;
                        }
                        .testimonial_author {
                            font-size: 13px;
                            text-transform: uppercase;
                            font-style: normal;
                            text-align: center;
                        }
                    }
                    .active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .list_menu {
        .col-md-12 {
            padding: 0;
            padding-bottom: 30px;
        }
        .list_menu {
            background: white;
            padding-bottom: 20px;
            box-shadow: 0 0 5px #ccc;
            position: relative;
            .list_menu_img {
                overflow: hidden;
                &:hover {
                    background: black;
                    // position: absolute;
                    // top:0;
                    // left:0;
                    img {
                        transform: scale(1.1, 1.1);
                        opacity: 0.4;
                    }
                    .list_menu_icon {
                        opacity: 1;
                    }
                }
                img {
                    width: 100%;
                    transition: all 0.4s ease;
                    background-size: cover;
                }
                .list_menu_icon {
                    background: url(../images/image-overlay-link.png) no-repeat;
                    width: 46px;
                    height: 46px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -23px;
                    margin-top: -58px;
                    opacity: 0;
                    transition: all 1.5s ease;
                }
            }
            .block-title {
                text-align: center;
                h3 {
                    a {
                        color: #000;
                        font-size: 18px;
                        font-family: myLastFont;
                    }
                }
            }
        }
    }
}

// 
// footer 
#footer {
    color: #e4e4e4;
    .container {
        padding: 0 15px;
        .row {
            background: #3C3C3B;
            padding: 30px 15px 20px 15px;
            .footer-top {
                .four {
                    h3 {
                        border-bottom: 1px solid gray;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                        font-family: myFirstFont;
                        font-weight: 900;
                        color: white;
                    }
                    p {
                        margin: 15px 0;
                    }
                    .fgroup {
                        ul {
                            list-style-type: none;
                            li {
                                float: left;
                                width: 46%;
                                margin: 0 2% 15px 0;
                            }
                        }
                    }
                }
            }
            .footer-bottom {
                .col-md-12 {
                    margin-top: 30px;
                    padding-top: 15px;
                    p {
                        border-top: 1px solid gray;
                        padding-top: 5px;
                        a {
                            font-family: alegreya, georgia, serif;
                            color: #F5F5F5;
                            font-size: 13px;
                            &:hover {
                                color: #e1e1e1;
                            }
                        }
                    }
                }
            }
        }
    }
}

////////
#page {
    background: #EAEAEA;
}

////////////////////////////////
.container {
    max-width: 1417px;
}

@media (min-width: 1200px) {
    .container {
        background: #F5F5F5;
        width: 97%;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
        background: #F5F5F5;
        padding: 0;
    }
    #header .container {
        padding: 0 15px;
    }
    .main .container {
        padding: 0;
    }
}

@media (max-width: 992px) {
    .slider .item img {
        min-height: 300px;
    }
    #footer {
        .container {
            .row {
                .footer-top {
                    .four {
                        .fgroup {
                            ul {
                                li {
                                    width: 25%;
                                    float: left;
                                    margin: 0px 0px 0px 0px;
                                    text-align: center;
                                    padding: 15px;
                                    a {}
                                }
                            }
                        }
                        .footer-logo {
                            .footer-logo-image {
                                img {
                                    display: block;
                                    margin: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// @media screen and (max-width: 1025px) {
//     #footer {
//         .container {
//             .row {
//                 .footer-top {
//                     .four {
//                         .fgroup {
//                             ul {
//                                 li {
//                                     width: 46%;
//                                     float: left;
//                                     margin: 0px 2% 15px 0px;
//                                     padding: 2%;
//                                     a {
//                                         img{
//                                             width: 80%;
//                                             margin: auto;
//                                         }
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
@media (max-width: 768px) {
    #footer {
        .container {
            .row {
                .footer-top {
                    .four {
                        .fgroup {
                            ul {
                                li {
                                    width: 50%;
                                    float: left;
                                    padding: 15px;
                                    text-align: center;
                                    a {}
                                }
                            }
                        }
                        .footer-logo {
                            .footer-logo-image {
                                img {
                                    display: block;
                                    margin: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .list_menu > div > .col-xs-12 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .container {
        width: 100%;
        background: #F5F5F5;
    }
    // .menu {
    //  display: none;
    // }
    .logo {
        float: none !important;
        display: block;
        text-align: center;
        img {
            margin: auto;
        }
    }
    .pull-right {
        padding-top: 0px !important;
    }
    #tophead {
        margin-top: 51px;
        .six_columns {
            text-align: center;
            margin: 20px 0 10px 0;
        }
        .six_columns2 {
            text-align: center;
            margin: 0 0 20px 0;
        }
    }
    #header .container #tophead .row .six_columns {
        float: none;
    }
    #header .header-reponsive {
        display: block;
    }
    .main .container .flexslider {
        padding-bottom: 110px;

        .home-widget ul li{
            min-height: 75px;
            width: 100%;
        }
        .home-widget ul li p {
            font-size: 1.32em;
        }
    }
    .slider .item {
        img {
            min-height: 250px;
        }
        .carousel-caption {
            padding-bottom: 75px;
            h3 {
                font-size: 42px;
            }
        }
    }
    #footer .container .row .footer-bottom .col-md-12 p {
        border: none;
    }
    .nav .open>a,
    .nav .open>a:focus,
    .nav .open>a:hover {
        background: none;
    }
    #page {
        .mainhead {
            .menu {
                // display: none;
                z-index: 999;
                .navbar {
                    position: absolute;
                    left: 0;
                    top: 40px;
                    background: #2b2e30;
                    width: 150px;
                    // height: 100%;
                    position: fixed;
                    z-index: 999;
                    display: none;
                    .navbar-nav {
                        padding-left: 0;
                        padding-right: 7px;
                        li {
                            a {
                                color: #eeeeee;
                                font-size: 14px;
                                font-weight: 400;
                                font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
                                text-transform: capitalize;
                            }
                            a:hover {
                                color: #f19533;
                            }
                            width: 100%;
                            // &:first-child {
                            //  border: none;
                            // }
                            ul {
                                display: block;
                                background: #2b2e30;
                                position: static;
                                float: none;
                                border: none;
                                box-shadow: none;
                                li {
                                    padding-left: 15px;
                                    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
                                    border-top: 1px solid rgba(255, 255, 255, 0.1);
                                    a {
                                        font-size: 11px;
                                        text-transform: capitalize;
                                    }
                                    a:hover {
                                        color: #f19533;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
