<div class="panel-group" id="edit-language-file" role="tablist" aria-multiselectable="true">
    <div class="form-group">
        <edit-language-file data="language"></edit-language-file>
    </div>
    <div class="form-group">
    	<button class="btn btn-primary" ng-click="save()">Save</button>
    	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>
