<div id="about">
    <div id="about_section" style="background: url('{{restaurant.getBannerImage()}}') center 0 fixed">
        <div class="col-xs-12">
            <h1 translate="about.headline" translate-values="{restaurant: restaurant}"></h1>
        </div>
    </div>
    <div class="container about-container">
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-3">
                <div class="about-image text-center">
                    <img ng-src="{{ restaurant.about.getChefImage() }}" alt="{{ restaurant.about.getChefName() }}" class="img-responsive">
                    <h3 ng-bind="restaurant.about.getChefName()"></h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                
                <div class="his-awards" ng-repeat="description in restaurant.description">
                    <p class="about-info-title"><strong ng-bind="description.title"></strong></p>
                    <p class="about-info-description" ng-bind="description.body"></p>
                </div>
            </div>
        </div>
    </div>
</div>
