<div id="contact-us">
    <div id="session_contact_Us" style="background: url('{{restaurant.getBannerImage()}}') center 0 fixed">
        <h1 translate="contact.headline"></h1>
    </div>
    <div class="container contact-container">
        <div class="col-xs-12 content_contact_us">
            <div class="col-xs-12 col-sm-8 col-md-8 contact_us_left">
                <div class="form_contact_us" ng-show="pages.contact.isEnableSection('map')">
                    <div id="restaurant-map" map restaurant="restaurant"></div>
                    <div class="description_map">
                        <h3 translate="contact.we_are_waiting_for_you"></h3>
                        <p translate="contact.we_are_waiting_for_you_description"></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4" ng-show="pages.contact.isEnableSection('open_hours')">
                <div class="sidebar">
                    <h3 ng-bind="restaurant.getTitle()"></h3>
                    <p class="text-left"><span ng-bind="restaurant.getAddress()"></span><span ng-if="restaurant.getZip() != ''">, {{restaurant.getZip()}}</span><span ng-if="restaurant.getCountry() != ''">, {{restaurant.getCountry()}}</span></p>
                    <h3 translate="contact.working_hours" class="working-hours-title"></h3>
                    <div class="working-hours">
                        <table class="table">
                            <thead>
                                <tr class="open-hours">
                                    <td class="open-hours-day"><strong>Day</strong></td>
                                    <td class="open-hours-lunch"><strong>Lunch</strong></td>
                                    <td class="open-hours-dinner"><strong>Dinner</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="open-hours" ng-repeat="item in restaurant.openhours">
                                    <td class="open-hours-day" ng-bind="item.getDay()"></td>
                                    <td class="open-hours-lunch" ng-bind="item.getLunch()"></td>
                                    <td class="open-hours-dinner" ng-bind="item.getDinner()"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact-form">
        <div class="container">
            <div class="col-xs-12 contact-form-content">
                <div class="col-xs-12 col-sm-8 col-md-8 contact_us_left">
                    <div class="form_contact_us" ng-show="pages.contact.isEnableSection('contact_form')">
                        <form method="post" name="ContactForm" ng-submit="ContactForm.$valid && ContactSubmit(contact)" novalidate>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="name">First name</label>
                                <input type="text" class="form-control" name="firstname" ng-model="contact.firstname" ng-pattern="/^[a-z ,.'-]+$/i" required>
                                <div class="error">
                                    <span ng-show="ContactForm.$submitted && ContactForm.firstname.$error.required">Please enter your first name.</span>
                                    <span ng-show="ContactForm.$submitted && ContactForm.firstname.$error.pattern">First name must be alpha only.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="email">Last name</label>
                                <input type="text" class="form-control" name="lastname" ng-model="contact.lastname" ng-pattern="/^[a-z ,.'-]+$/i" maxlength="40" required>
                                <div class="error">
                                    <span ng-show="ContactForm.$submitted && ContactForm.lastname.$error.required">Please enter your last name.</span>
                                    <span ng-show="ContactForm.$submitted && ContactForm.lastname.$error.pattern">Last name must be alpha only.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Email address</label>
                                <input type="email" class="form-control" name="email" ng-model="contact.email" maxlength="40" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i" required>
                                <div class="error">
                                    <span ng-show="ContactForm.$submitted && ContactForm.email.$error.required">Please enter your email.</span>
                                    <span ng-show="ContactForm.$submitted && ContactForm.email.$error.pattern">Please enter a valid email.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input class="form-control" type="text" name="phone" ng-model="contact.phone" ng-pattern="/^[0-9\+| ]{6,20}/" maxlength="600" required>
                                <div class="error">
                                    <span ng-show="ContactForm.$submitted && ContactForm.phone.$error.required">Please enter your phone number.</span>
                                    <span ng-show="ContactForm.$submitted && ContactForm.phone.$error.pattern">Please enter a valid phone number.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Your Message</label>
                                <textarea class="form-control" ng-model="contact.message" name="message" required></textarea>
                                <div class="error">
                                    <span ng-show="ContactForm.$sumitted && ContactForm.message.$error.required">Please enter a message.</span>
                                </div>
                                
                            </div>
                            <input type="hidden" class="form-control" ng-model="contact.email_restaurant" ng-value="restaurant.getEmail()" name="email_restaurant" required/>
                            
                            <button type="submit" class="btn">SEND</button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4" ng-show="pages.contact.isEnableSection('social')">
                    <div class="sidebar">
                        <h3 translate="contact.reservation"></h3>
                        <button class="btn" id="contact-book-btn">book now</button>
                    </div>
                    <div class="sidebar-bottom">
                        <h3 translate="contact.find_us_online"></h3>
                        <div class="list_icon_contact_us">
                            <a ng-href="{{ fb_page_url }}" class="facebook_bg"><i class="fa fa-facebook"></i></a>
                            <a ng-href="{{ instagram_url }}" class="instagram_bg"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
