<div id="session_foodevent" style="background: url('{{restaurant.getBannerImage()}}') center 0 fixed">
    <h1 translate="gallery.headline"></h1>
</div>
<div id="content">
    <div class="container gallery-container">
        <div class="title_line col-xs-12">
            <article class="gallery">
                <div ng-repeat="image in restaurant.getGallery()" class="gallery-item">
                    <a ng-href="{{ image.getFullsize() }}" class="fresco" data-fresco-caption="{{ restaurant.getTitle() }} - weeloy.com" data-fresco-group="restau">
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="image">
                                <img src="{{asset('images/gallery.png')}}" alt="{{ restaurant.getTitle() }} - weeloy.com" style="background-image:url('{{ image.getThumbnail() }}'); background-position: 50% 50%; background-size:cover; width:100%; ">
                            </div>
                        </div>
                    </a>
                </div>
            </article>
        </div>
    </div>
</div>
