.notify {
  margin-right: 15px;
}

.notify-warning {
  background-color: #F0AD4E !important;
  color: #fff !important;
}

.btn {
  border-radius: 2px;
}

.error span {
  font-size: 11px;
  color: #d14233;
}

#admin-page {
  overflow: scroll;
}
#admin-page header .navbar {
  border-radius: 0px;
}
#admin-page header .navbar-default {
  background-image: none;
}
#admin-page #edit-language-file .panel,
#admin-page #create-new-language .panel {
  border-radius: 0px;
  margin-bottom: 5px;
}
#admin-page #edit-language-file .panel-default .panel-heading,
#admin-page #create-new-language .panel-default .panel-heading {
  background-image: none;
  border-bottom: none;
}
#admin-page #edit-language-file .panel-default .panel-body .panel-default .panel-heading,
#admin-page #create-new-language .panel-default .panel-body .panel-default .panel-heading {
  background-color: #fff;
  background-image: none;
}
#admin-page #edit-language-file .panel-default .panel-body .panel-default .panel-heading .panel-title,
#admin-page #create-new-language .panel-default .panel-body .panel-default .panel-heading .panel-title {
  font-size: 12px;
  font-weight: normal;
}
#admin-page #custom-page .switch {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  padding-right: 20%;
}
#admin-page #custom-page .switch p,
#admin-page #custom-page .switch .icon {
  display: inline-block;
}
#admin-page #custom-page .switch p {
  margin-bottom: 0px;
}
#admin-page #custom-page .switch .icon {
  float: right;
}
#admin-page #custom-page .switch .icon .switch-icon {
  border: none;
  background: url("../images/switch.png");
  width: 40px;
  height: 22.5px;
}
#admin-page #custom-page .switch .icon .switch-icon:focus {
  outline: none;
}
#admin-page #custom-page .switch .icon .switch-icon-on {
  background-position: 0px 0px;
}
#admin-page #custom-page .switch .icon .switch-icon-off {
  background-position: 0px -28px;
}

/*# sourceMappingURL=common.css.map */
