.notify {
    margin-right: 15px;
}

.notify-warning {
    background-color: #F0AD4E!important;
    color: #fff!important;
}

.btn {
    border-radius: 2px;
}

.error {
    span {
        font-size: 11px;
        color: #d14233;
    }
}

#admin-page {
    overflow: scroll;
    header {
        .navbar {
            border-radius: 0px;
        }
        .navbar-default {
            background-image: none;
        }
    }
    #edit-language-file,
    #create-new-language {
        .panel {
            border-radius: 0px;
            margin-bottom: 5px;
        }
        .panel-default {
            .panel-heading {
                background-image: none;
                border-bottom: none;
            }
            .panel-body {
                .panel-default {
                    .panel-heading {
                        background-color: #fff;
                        background-image: none;
                        .panel-title {
                            font-size: 12px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
    #custom-page {
        .switch {
            margin-bottom: 20px;
            display: inline-block;
            width: 100%;
            padding-right: 20%;
            p,
            .icon {
                display: inline-block;
            }
            p {
                margin-bottom: 0px;
            }
            .icon {
                float: right;
                .switch-icon {
                    border: none;
                    background: url('../images/switch.png');
                    width: 40px;
                    height: 22.5px;
                }
                .switch-icon:focus {
                    outline: none;
                }
                .switch-icon-on {
                    background-position: 0px 0px;
                }
                .switch-icon-off {
                    background-position: 0px -28px;
                }
            }
        }
    }
}
