<div class="panel panel-default item" ng-repeat="(key, value) in data">
    <div class="panel-heading item-heading" role="tab">
        <h4 class="panel-title item-title" ng-click="collapse($event)" ng-bind="key"></h4>
    </div>
    <div class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body" recursion="value"></div>
    </div>
</div>
