<div class="book">
    <div class="x-main full" role="main">
        <article id="post-205" class="post-205 page type-page status-publish hentry no-post-thumbnail">
            <div class="entry-content content">
                <div id="x-section-1" class="x-section bg-image" ng-show="pages.contact.isEnableSection('header')">
                    <div class="x-container   marginless-columns" style="margin: 0px auto 0px auto; padding: 0px 0px 0px 0px; ">
                        <div class="x-column x-sm x-1-2">
                            <h1 class="h-custom-headline left-text man h-intro h2"><span translate="contact.headline"></span></h1></div>
                        <div class="x-column x-sm x-1-2">
                            <div class="x-raw-content hours home">
                                <table>
                                    <tr class="open-hours">
                                        <td class="open-hours-day">Day</td>
                                        <td class="open-hours-lunch">Lunch</td>
                                        <td class="open-hours-dinner">Dinner</td>
                                    </tr>
                                    <tr class="open-hours" ng-repeat="item in restaurant.openhours">
                                        <td class="open-hours-day" ng-bind="item.getDay()"></td>
                                        <td class="open-hours-lunch" ng-bind="item.getLunch()"></td>
                                        <td class="open-hours-dinner" ng-bind="item.getDinner()"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="x-section-2" class="x-section" ng-show="pages.contact.isEnableSection('map')">
                    <div class="x-container">
                        <div class="x-column x-sm x-1-1">
                            <div id="x-google-map-1" map restaurant="restaurant"></div>
                        </div>
                    </div>
                </div>
                <div id="x-section-3" class="x-section location" ng-show="pages.contact.isEnableSection('address')">
                    <div class="x-container   max width">
                        <div class="x-column x-sm center-text  x-1-3"><img class="x-img x-img-circle" ng-src="{{ restaurant.getLogoImage() }}" alt="{{ restaurant.getTitle() }}">
                        </div>
                        <div class="x-column x-sm x-2-3">
                            <div class="form-group">
                                <h3 class="h-custom-headline left-text h-location h3"><span ng-bind="restaurant.getTitle()"></span></h3>
                                <div class="x-raw-content p-info">
                                    <p class="text-left"><span ng-bind="restaurant.getAddress()"></span><span ng-if="restaurant.getZip() != ''">, {{restaurant.getZip()}}</span><span ng-if="restaurant.getCountry() != ''">, {{restaurant.getCountry()}}</span></p>
                                </div>
                                <h4 class="h-custom-headline left-text h-features h5"><span translate="contact.contact_title"></span></h4>
                                <div class="x-raw-content p-features">
                                    <p class="man" translate="contact.contact_description"></p>
                                </div>
                            </div>
                            <div class="contact-form">
                                <form method="post" name="ContactForm" ng-submit="ContactForm.$valid && ContactSubmit(contact)" novalidate>
                                    <div class="form-group">
                                        <input type="text" name="firstname" ng-model="contact.firstname" placeholder="First name" ng-pattern="/^[a-z ,.'-]+$/i" required>
                                        <div class="error">
                                            <span ng-show="ContactForm.$submitted && ContactForm.firstname.$error.required">Please enter your first name.</span>
                                            <span ng-show="ContactForm.$submitted && ContactForm.firstname.$error.pattern">First name must be alpha only.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="lastname" ng-model="contact.lastname" placeholder="Last name" ng-pattern="/^[a-z ,.'-]+$/i" maxlength="40" required>
                                        <div class="error">
                                            <span ng-show="ContactForm.$submitted && ContactForm.lastname.$error.required">Please enter your last name.</span>
                                            <span ng-show="ContactForm.$submitted && ContactForm.lastname.$error.pattern">Last name must be alpha only.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" ng-model="contact.email" placeholder="Email address" maxlength="40" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i" required>
                                        <div class="error">
                                            <span ng-show="ContactForm.$submitted && ContactForm.email.$error.required">Please enter your email.</span>
                                            <span ng-show="ContactForm.$submitted && ContactForm.email.$error.pattern">Please enter a valid email.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="phone" ng-model="contact.phone" placeholder="Phone" ng-pattern="/^[0-9\+| ]{6,20}/" maxlength="600" required>
                                        <div class="error">
                                            <span ng-show="ContactForm.$submitted && ContactForm.phone.$error.required">Please enter your phone number.</span>
                                            <span ng-show="ContactForm.$submitted && ContactForm.phone.$error.pattern">Please enter a valid phone number.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea ng-model="contact.message" name="message" placeholder="Write your message here. We will get back to you within 2 business days." required></textarea>
                                        <div class="error">
                                            <span ng-show="ContactForm.$sumitted && ContactForm.message.$error.required">Please enter a message.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Submit">
                                    </div>
                                </form>
                                <div class="alert alert-success alert-dismissible" role="alert" ng-show="showSuccessMessage">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <span>Your message was sent!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
