@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-Regular.ttf");
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: 'proximanova';
  src: url("..//fonts/proximanova/Mark%20Simonson%20-%20Proxima%20Nova%20Regular.otf");
}
* {
  padding: 0;
  margin: 0;
}

html,
div {
  padding: 0;
  margin: 0;
}

a img {
  border: 0;
}

a {
  color: #ce9702;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.active-2 {
  color: #f19533 !important;
}

.zoomer:active {
  top: 0;
}

.hiddent {
  display: none;
  transition: all 3s ease;
}

.active {
  display: block;
  transition: all 3s ease;
}

@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Q-XbT1m22Fi9BEKb7y59O_k_vArhqVIZ0nv9q090hN8.woff2);
}
@font-face {
  font-family: myLastFont;
  src: url(../fonts/4vRXIs1BEbKX6mQ7lGu1I_esZW2xOQ-xsNqO47m55DA.woff2);
}
#page a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Alegreya", "Georgia", serif;
}

#header .header-reponsive {
  background: #242628;
  text-align: center;
  padding: 14px 0;
  position: absolute;
  width: 100%;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, #141617), color-stop(1, #222426));
  display: none;
}
#header .header-reponsive span {
  color: #eeeeee;
  font-size: 22px;
  float: left;
  top: -4px;
  left: 10px;
  cursor: pointer;
}
#header .header-reponsive h1 {
  margin: 0;
  font-size: 14px;
  font-weight: 900;
  color: #eeeeee;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
#header .container {
  padding: 0 30px;
}
#header .container #tophead {
  background: #3C3C3C;
  padding: 3px 20px 7px 17px;
}
#header .container #tophead .row {
  margin: 0;
}
#header .container #tophead .row .social-icons a {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  float: left;
  text-align: center;
  background: #515151;
  margin-right: 5px;
}
#header .container #tophead .row .social-icons a .fa {
  color: #000;
  font-size: 14px;
  line-height: 20px;
}
#header .container #tophead .row .six_columns2 {
  margin-top: 3px;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  float: right;
}
#header .container #tophead .row .six_columns2 a {
  color: white;
}
#header .container #tophead .row .six_columns2 a:hover {
  color: #CCC6C6;
}
#header .container .mainhead {
  padding: 5px 15px 10px 20px;
  overflow: auto;
  background: white;
  box-shadow: 0 0 5px #ccc;
}
#header .container .mainhead .logo {
  float: left;
}
#header .container .mainhead .logo img {
  max-height: 150px;
  z-index: 5;
}
#header .container .mainhead .menu {
  padding-top: 42px;
  float: left;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Alegreya", "Georgia", serif;
}
#header .container .mainhead .menu nav li:hover ul {
  display: block;
}
#header .container .mainhead .menu nav li a {
  padding: 10px;
  color: #686868;
}
#header .container .mainhead .menu nav li a:hover {
  background: none;
}
#header .container .mainhead .menu nav .active a {
  font-weight: bold !important;
}

.slider .item .carousel-caption {
  padding-bottom: 110px;
}
.slider .item .carousel-caption h3 {
  font-size: 60px;
  font-family: myFirstFont;
  font-weight: 900;
}
.slider .item .carousel-caption p a {
  padding: 10px 32px;
  background: #000;
  opacity: 0.7;
  border-radius: 25px;
  color: white;
  font-size: 11px;
}
.slider .item .carousel-caption p a:hover {
  color: black;
  background: white;
}

.main .container {
  padding: 0 15px;
}
.main .container .flexslider {
  background: white;
  margin: 15px 15px 30px 15px;
  box-shadow: 0 0 5px #ccc;
}
.main .container .flexslider .home-widget {
  text-align: center;
  position: relative;
}
.main .container .flexslider .home-widget .slider {
  list-style-type: none;
  overflow: auto;
}
.main .container .flexslider .home-widget .slider li {
  min-height: 75px;
  width: 100%;
  position: absolute;
  top: 0;
  transition: all 2s;
  -webkit-transition: all 0.5s;
  opacity: 0;
  padding: 5px;
}
.main .container .flexslider .home-widget .slider li p {
  font-family: myFirstFont;
  font-style: italic;
  color: #323232;
  font-weight: normal;
  font-size: 2.14em;
}
.main .container .flexslider .home-widget .slider li .testimonial_author {
  font-size: 13px;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
}
.main .container .flexslider .home-widget .slider .active {
  opacity: 1;
}
.main .list_menu .col-md-12 {
  padding: 0;
  padding-bottom: 30px;
}
.main .list_menu .list_menu {
  background: white;
  padding-bottom: 20px;
  box-shadow: 0 0 5px #ccc;
  position: relative;
}
.main .list_menu .list_menu .list_menu_img {
  overflow: hidden;
}
.main .list_menu .list_menu .list_menu_img:hover {
  background: black;
}
.main .list_menu .list_menu .list_menu_img:hover img {
  transform: scale(1.1, 1.1);
  opacity: 0.4;
}
.main .list_menu .list_menu .list_menu_img:hover .list_menu_icon {
  opacity: 1;
}
.main .list_menu .list_menu .list_menu_img img {
  width: 100%;
  transition: all 0.4s ease;
  background-size: cover;
}
.main .list_menu .list_menu .list_menu_img .list_menu_icon {
  background: url(../images/image-overlay-link.png) no-repeat;
  width: 46px;
  height: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -23px;
  margin-top: -58px;
  opacity: 0;
  transition: all 1.5s ease;
}
.main .list_menu .list_menu .block-title {
  text-align: center;
}
.main .list_menu .list_menu .block-title h3 a {
  color: #000;
  font-size: 18px;
  font-family: myLastFont;
}

#footer {
  color: #e4e4e4;
}
#footer .container {
  padding: 0 15px;
}
#footer .container .row {
  background: #3C3C3B;
  padding: 30px 15px 20px 15px;
}
#footer .container .row .footer-top .four h3 {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-family: myFirstFont;
  font-weight: 900;
  color: white;
}
#footer .container .row .footer-top .four p {
  margin: 15px 0;
}
#footer .container .row .footer-top .four .fgroup ul {
  list-style-type: none;
}
#footer .container .row .footer-top .four .fgroup ul li {
  float: left;
  width: 46%;
  margin: 0 2% 15px 0;
}
#footer .container .row .footer-bottom .col-md-12 {
  margin-top: 30px;
  padding-top: 15px;
}
#footer .container .row .footer-bottom .col-md-12 p {
  border-top: 1px solid gray;
  padding-top: 5px;
}
#footer .container .row .footer-bottom .col-md-12 p a {
  font-family: alegreya, georgia, serif;
  color: #F5F5F5;
  font-size: 13px;
}
#footer .container .row .footer-bottom .col-md-12 p a:hover {
  color: #e1e1e1;
}

#page {
  background: #EAEAEA;
}

.container {
  max-width: 1417px;
}

@media (min-width: 1200px) {
  .container {
    background: #F5F5F5;
    width: 97%;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    background: #F5F5F5;
    padding: 0;
  }

  #header .container {
    padding: 0 15px;
  }

  .main .container {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .slider .item img {
    min-height: 300px;
  }

  #footer .container .row .footer-top .four .fgroup ul li {
    width: 25%;
    float: left;
    margin: 0px 0px 0px 0px;
    text-align: center;
    padding: 15px;
  }
  #footer .container .row .footer-top .four .footer-logo .footer-logo-image img {
    display: block;
    margin: auto;
  }
}
@media (max-width: 768px) {
  #footer .container .row .footer-top .four .fgroup ul li {
    width: 50%;
    float: left;
    padding: 15px;
    text-align: center;
  }
  #footer .container .row .footer-top .four .footer-logo .footer-logo-image img {
    display: block;
    margin: auto;
  }

  .list_menu > div > .col-xs-12 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .container {
    width: 100%;
    background: #F5F5F5;
  }

  .logo {
    float: none !important;
    display: block;
    text-align: center;
  }
  .logo img {
    margin: auto;
  }

  .pull-right {
    padding-top: 0px !important;
  }

  #tophead {
    margin-top: 51px;
  }
  #tophead .six_columns {
    text-align: center;
    margin: 20px 0 10px 0;
  }
  #tophead .six_columns2 {
    text-align: center;
    margin: 0 0 20px 0;
  }

  #header .container #tophead .row .six_columns {
    float: none;
  }

  #header .header-reponsive {
    display: block;
  }

  .main .container .flexslider {
    padding-bottom: 110px;
  }
  .main .container .flexslider .home-widget ul li {
    min-height: 75px;
    width: 100%;
  }
  .main .container .flexslider .home-widget ul li p {
    font-size: 1.32em;
  }

  .slider .item img {
    min-height: 250px;
  }
  .slider .item .carousel-caption {
    padding-bottom: 75px;
  }
  .slider .item .carousel-caption h3 {
    font-size: 42px;
  }

  #footer .container .row .footer-bottom .col-md-12 p {
    border: none;
  }

  .nav .open > a,
  .nav .open > a:focus,
  .nav .open > a:hover {
    background: none;
  }

  #page .mainhead .menu {
    z-index: 999;
  }
  #page .mainhead .menu .navbar {
    position: absolute;
    left: 0;
    top: 40px;
    background: #2b2e30;
    width: 150px;
    position: fixed;
    z-index: 999;
    display: none;
  }
  #page .mainhead .menu .navbar .navbar-nav {
    padding-left: 0;
    padding-right: 7px;
  }
  #page .mainhead .menu .navbar .navbar-nav li {
    width: 100%;
  }
  #page .mainhead .menu .navbar .navbar-nav li a {
    color: #eeeeee;
    font-size: 14px;
    font-weight: 400;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
  }
  #page .mainhead .menu .navbar .navbar-nav li a:hover {
    color: #f19533;
  }
  #page .mainhead .menu .navbar .navbar-nav li ul {
    display: block;
    background: #2b2e30;
    position: static;
    float: none;
    border: none;
    box-shadow: none;
  }
  #page .mainhead .menu .navbar .navbar-nav li ul li {
    padding-left: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  #page .mainhead .menu .navbar .navbar-nav li ul li a {
    font-size: 11px;
    text-transform: capitalize;
  }
  #page .mainhead .menu .navbar .navbar-nav li ul li a:hover {
    color: #f19533;
  }
}
#menu-page #session {
  background: url(../images/foodevent/slide.jpg) center 0 fixed;
  padding: 25px 0 25px 0;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.35);
  background-size: 100% !important;
}
#menu-page #session h1 {
  font-family: myFirstFont;
  color: #fff;
  font-size: 60px;
  width: 100%;
  text-align: center;
  font-weight: 900;
}
#menu-page #content .container {
  padding: 0 30px;
}
#menu-page #content .container .title_line {
  text-align: center;
  background: #fff;
  padding: 50px 20px 130px 17px;
  margin: 30px 0;
  box-shadow: 0 0 5px #ccc;
}
#menu-page #content .container .title_line h1 {
  font-size: 16px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
}
#menu-page #content .container .title_line h1 span {
  margin: 0 15px;
}
#menu-page #content .container .title_line .img-menu {
  width: 20%;
}
#menu-page #content .container .title_line article {
  text-align: left;
  padding: 50px 90px 0 90px;
}
#menu-page #content .container .title_line article .col-md-3 .verlay {
  padding: 5px;
  box-shadow: 0 0 5px #ccc;
}
#menu-page #content .container .title_line article .col-md-3 .verlay img {
  width: 100%;
}
#menu-page #content .container .title_line article .col-md-9 .nine_columns h1 {
  background: none;
  font-family: myFirstFont;
  margin-top: 0;
  text-transform: none;
  font-size: 24px;
  font-weight: bold;
}
#menu-page #content .container .title_line article .col-md-9 .nine_columns h1 span {
  font-weight: 100;
}
@media (max-width: 768px) {
  #menu-page #content .container {
    padding: 0 15px;
  }
  #menu-page #content .container .title_line {
    padding: 25px 0 130px 0;
  }
  #menu-page #content .container .title_line h1 img {
    display: none;
  }
  #menu-page #content .container .title_line .img-menu {
    width: 100%;
  }
  #menu-page #content .container .title_line .verlay {
    width: 60%;
    margin: auto;
  }
  #menu-page #content .container .title_line article {
    padding: 30px 20px 30px 20px;
  }
  #menu-page #content .container .title_line article .nine_columns {
    margin-top: 30px;
  }
  #menu-page #content .container .title_line article .nine_columns h1 {
    text-align: center;
  }
  #menu-page #content .container .title_line article .nine_columns h1 span {
    width: 100%;
    text-align: center;
    margin: 0px;
  }
  #menu-page #content .container .title_line article .nine_columns p {
    text-align: center;
  }
}

#contact-us #session_contact_Us {
  background: url(../images/contact_us/contact_us1.jpg) center 0 fixed;
  padding: 25px 0 25px 0;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.35);
  background-size: 100% !important;
}
#contact-us #session_contact_Us h1 {
  font-family: myFirstFont;
  color: #fff;
  font-size: 60px;
  width: 100%;
  text-align: center;
  font-weight: 900;
}
#contact-us .content_contact_us {
  padding: 40px 0px 0px 0px;
}
#contact-us #restaurant-map {
  height: 400px;
}
#contact-us .sidebar h3, #contact-us .sidebar-bottom h3 {
  font-family: myFirstFont;
  font-weight: 900;
  margin-top: 7px;
}
#contact-us .sidebar-bottom {
  margin-top: 40px;
}
#contact-us .contact_us_left .col-md-12 {
  padding: 0;
}
#contact-us .contact_us_left .col-md-12 .eight_columns, #contact-us .contact_us_left .col-md-12 .form_contact_us label, #contact-us .contact_us_left .form_contact_us .col-md-12 label {
  color: #686868;
}
#contact-us .contact_us_left .col-md-10 {
  padding: 0;
  padding-right: 20px;
}
#contact-us .contact_us_left .form_contact_us label {
  font-weight: 100;
}
#contact-us .contact_us_left .form_contact_us textarea, #contact-us .contact_us_left .form_contact_us input {
  border-radius: 0;
}
#contact-us .contact_us_left .form_contact_us input {
  height: 45px;
}
#contact-us .contact_us_left .form_contact_us button {
  border-radius: 20px;
  padding: 10px 30px;
  background: #000;
  color: white;
  font-size: 11px;
  border-color: none;
}
#contact-us .contact_us_left .form_contact_us button:hover {
  background: white;
  color: #000;
  border: 1px solid #ccc;
}
#contact-us #contact-form .contact-form-content {
  margin: 50px 0px;
  padding: 0px;
}
#contact-us .list_icon_contact_us a {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  text-align: center;
  border-radius: 2px;
}
#contact-us .list_icon_contact_us a .fa {
  font-size: 26px;
  color: #fff;
  line-height: 35px;
}
#contact-us .list_icon_contact_us .instagram_bg {
  background: #B17D4E;
}
#contact-us .list_icon_contact_us .facebook_bg {
  background: #3b5998;
}

#session_foodevent {
  background: url(../images/foodevent/slide.jpg) center 0 fixed;
  padding: 25px 0 25px 0;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.35);
  background-size: 100% !important;
}
#session_foodevent h1 {
  font-family: myFirstFont;
  color: #fff;
  font-size: 60px;
  width: 100%;
  text-align: center;
  font-weight: 900;
}

.item-size {
  width: 20%;
}

.title_line {
  overflow: auto;
}
.title_line .gallery {
  margin-top: 40px;
}
.title_line .gallery .image {
  margin-bottom: 20px;
  padding: 5px;
  box-shadow: 0 0 5px #ccc;
  overflow: auto;
}
.title_line .gallery .image img {
  width: 100%;
}

#session_thestaurant {
  background: url(../images/the_restaurant/the_restaurant1.jpg) center 0 fixed;
  padding: 25px 0 25px 0;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.35);
  background-size: 100%;
}
#session_thestaurant h1 {
  font-family: myFirstFont;
  color: #fff;
  font-size: 60px;
  width: 100%;
  text-align: center;
  font-weight: 900;
}

.verlay3 img {
  width: 100%;
  padding: 5px;
  box-shadow: 0 0 5px #ccc;
}

#gallery-1 .col-md-2 {
  padding: 0;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 5px;
}
#gallery-1 .col-md-2 .gallery-item img {
  max-width: 100%;
}
#gallery-1 p {
  margin-top: 30px;
  font-size: 14px;
  color: #686868;
}

.main_the_restaurant > .list_menu > .row > .col-md-12 > .col-md-4 > h3 {
  font-family: myFirstFont;
  font-weight: 900;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .col-md-2 {
    width: 14.666667%;
  }
}
@media (max-width: 480px) {
  .item-size {
    width: 100%;
  }
}
#chef #session_thestaurant {
  overflow: auto;
}
#chef .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
#chef .container .chef-image img {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .title_line {
    overflow: visible;
  }

  #chef #session_thestaurant div h1 {
    font-size: 33px;
  }
}
#about #about_section {
  background: url(../images/the_restaurant/the_restaurant1.jpg) center 0 fixed;
  padding: 25px 0 25px 0;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.35);
  overflow: auto;
}
#about #about_section h1 {
  font-family: myFirstFont;
  color: #fff;
  font-size: 60px;
  width: 100%;
  text-align: center;
  font-weight: 900;
}
#about .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
#about .container .about-image img {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .title_line {
    overflow: visible;
  }

  #about #about_section div h1 {
    font-size: 33px;
  }
}
#social .container {
  padding-bottom: 30px;
}

/*# sourceMappingURL=igloo.css.map */
