<div class="x-card-outer mvn flip-from-left center-vertically flip-3d" data-x-element="card">
    <div class="x-card-inner">
        <div class="x-face-outer front">
            <div class="x-face-inner">
                <div class="x-face-content">
                    <div class="x-face-graphic"><i class="fa fa-money" data-x-icon=""></i></div>
                    <h4 class="x-face-title" translate="homepage.event_time" translate-values="{event: event}"></h4>
                    <p class="x-face-text" ng-bind="event.getName()"></p>
                </div>
            </div>
        </div>
        <div class="x-face-outer back">
            <div class="x-face-inner">
                <div class="x-face-content">
                    <h4 class="x-face-title" ng-bind="event.getName()"></h4>
                    <p class="x-face-text" ng-bind="event.getDescription()">
                </div>
            </div>
        </div>
    </div>
</div>
