@font-face {
    font-family: 'Cheap Pine W00 Sans';
    src: url('../fonts/CheapPineW00-Sans.ttf');
}

@font-face {
    font-family: 'BrandonGrotW01-Regular';
    src: url('../fonts/BrandonGrotW01-Regular.ttf');
}

#wrapper a {
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
}

body {
    background: #000;
}

@font-face {
    font-family: font_button10;
    src: url(../fonts/e7ef3750-c184-4513-82eb-8d37775e042b.woff);
}

@font-face {
    font-family: 'cheap-pine';
    src: url('../fonts/228f8a18-7a49-466c-b9ec-c17297226770.woff');
}

@font-face {
    font-family: "cheap-pine_2";
    src: url('../fonts/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2');
}

@font-face {
    font-family: "cheap-pine_3";
    src: url('../fonts/Cheap_Pine_W00_Sans.woff');
}

.events {
    margin-top: 20px;
    text-align: center;
    > div {
        display: inline-block;
        float: none!important;
    }
    .event-image {
        img {
            width: 100%;
        }
    }
    .cnt {
        .event-title {
            font-size: 20px;
        }
    }
}

#wrapper {
    .header {
        .navbar {
            #bs-example-navbar-collapse-1 {
                text-align: center;
            }
            a {
                color: #F0F0E0;
                font-weight: 700;
                font-size: 15px;
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
            background: #000;
            .menu_top_navbar {
                float: none;
                display: inline-block;
            }
            .navbar-left-logo{
                min-width: 220px;
            }
            .nav {
                margin-right: 10px;
                li {
                    a {
                        padding: 15px 12px;
                    }
                }
            }
            .reservation li:first-child a {
                color: #B01815;
            }
        }
    }
    .content {
        margin-top: 44px;
        .content-area {
            background: url('../images/background-top.png') top left repeat #585858;
            background-size: cover;
            width: 100%;
            text-align: center;
            // padding-bottom: 100px;
            // padding-bottom: 100px;
            .main {
                box-shadow: 0 0 0 1000px rgba(63, 63, 63, 0.3) inset;
                width: 100%;
                background-size: cover;
                padding-top: 8.167%;
                color: #efefef;
                padding-bottom: 180px;
                background-position: 50% 50%;
                h1 {
                    // background: url('../images/logo.png') center center no-repeat;
                    background-size: contain;
                    padding: 0 0 1%;
                    margin: 0 auto;
                    max-width: 623px;
                    text-transform: uppercase;
                    font-size: 60px;
                }
                .entry-content {
                    width: 120px;
                    height: 3px;
                    background: #efefef;
                    margin: 30px auto 30px;
                }
                address {
                    font: normal normal 14px/160% 'BrandonGrotW01-Regular', sans-serif;
                    letter-spacing: 2.5px;
                    text-transform: uppercase;
                    margin: 0;
                }
                p {
                    margin: 0;
                    text-transform: uppercase;
                    a {
                        color: #efefef;
                        display: inline-block;
                        padding: 0 15px;
                        font: normal normal 16px/45px 'Brandon Grot W02 Bold', sans-serif;
                        letter-spacing: 2.5px;
                        font-family: font_button10;
                    }
                    .reservations {
                        background: #AE1B1D;
                        cursor: pointer;
                        text-align: center;
                        margin: 7.5% auto 0;
                    }
                    .giftcard {
                        border: 1px solid #F0F0E0;
                    }
                }
            }
        }
    }
    .widget_black_studio_tinymce {
        background: #981A18;
        padding: 30px;
        position: relative;
        color: #F0F0E0;
        .widget-title {
            background: #981a18;
            margin: -66px auto 50px;
            padding: 0 30px;
            text-align: center;
            text-transform: uppercase;
            max-width: 714px;
            letter-spacing: 2px;
            z-index: 100;

        }
        .textwidget {
            margin: 0 auto;
            max-width: 714px;
            width: 100%;
            p {

                letter-spacing: .5px;
                margin: 0 0 22px;
                letter-spacing: 0.5px;
            }
        }
    }
    #menus {
        padding: 0;
        position: relative;
        .header-menus {
            background: url('../images/red-pattern.png') top left repeat;
            background-size: cover;
            padding: 30px 20px 30px;
            text-transform: uppercase;
            text-align: center;
            .widget-title {
                margin: 20px 0;
                text-align: center;
                font-family: font_button10;
                font-size: 25px;
            }
            .bc_menus {
                list-style-type: none;
                margin: 0 0 40px;
                padding: 0;
                text-align: center;
                width: 100%;
                li {
                    display: inline-block;
                    margin: 0 24px;
                    a {
                        &.active {
                            background: #F0F0DF;
                            color: #000;
                        }

                        font-size: 28px;
                        cursor: pointer;
                        // font: 21px/38px 'Cheap Pine W00 Sans',sans-serif;
                        letter-spacing: 1px;
                        padding: 2px 14px;
                        color:#F0F0DF;
                        &:hover {
                            background: #F0F0DF;
                            color: #000;
                        }
                    }
                }
            }
            .learn_about_our {
                font-size: 15px;
                font-weight: 600;
            }
            .menu_select {
                a {
                    // font: 21px/38px 'Cheap Pine W00 Sans',sans-serif;
                    font-family: 'Cheap Pine W00 Sans';
                    font-size: 29px;
                    letter-spacing: 1px;
                    color: #F0F0DF;
                    cursor: pointer;
                    border: 0px solid #F0F0DF;
                    padding: 0 10px;
                    &:hover {
                        background: #F0F0DF;
                        color: #000;
                    }
                }
            }
        }
        .content {
            background: url('../images/menu-content.png') center top repeat;
            padding: 60px 4.16666667%;
            margin-top: 0;
            .menu_content {
                background: url('../images/knife.png') center 6px no-repeat #efefef;
                border: 8px solid #fff;
                overflow: auto;
                padding: 50px 48px 30px;
                position: relative;
                h3 {
                    font-family: 'cheap-pine';
                }
                .dinner {
                    color: #000;
                    text-align: center;
                    font-size: 43px;
                }
                .menu_content_row_list {
                    .col-hold-left {
                        border-right: 0px solid #313131;
                    }
                    .col-hold {
                        border-right: 0px solid #313131;
                        border-left: 0px solid #313131;
                        margin-bottom: -20px;
                        h3 {
                            color: #981A18;
                            font-size: 37px;
                            border-bottom: 0px solid #313131;
                            padding-bottom: 10px;
                            padding: 15px 20px;
                            em {
                                font-family: "cheap-pine_2";
                                font-size: 16px;
                                margin-top: -10px;
                            }
                        }
                        p {
                            font-size: 16px;
                            color: #000;
                            padding: 5px 20px;
                            font-family: "cheap-pine_2";
                            border-bottom: 0px solid #313131;
                            strong {
                                font-family: font_button10;
                            }
                        }
                    }
                }
            }
        }
    }
    .private-events {
        color: #F0F0E0;
        background: url('../images/bg-gray.png') top left repeat #333;
        padding: 30px;
        position: relative;
        h3 {
            color: #F0F0E0;
            font: normal normal 24px/120% 'Brandon Grot W02 Bold', sans-serif;
            margin: 20px 0;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
        }
        .textwidget {
            margin: 0 auto;
            max-width: 714px;
            width: 100%;
            p {
                font-family: "cheap-pine_2";
                font-size: 15px;
            }
        }
        .buttons {
            padding: 20px 10px;
            position: relative;
            text-align: center;
            margin-bottom: -74px;
            background: url('../images/bg-gray.png') top left repeat #333;
            z-index: 20;
            width: 55%;
            margin: auto;
            a {
                border: 1px solid #F0F0DE;
                color: #F0F0DE;
                cursor: pointer;
                letter-spacing: 1px;
                margin: 0 11px;
                padding: 0 14px;
                text-decoration: none;
                text-transform: uppercase;
                color: #F0F0E0;
                position: relative;
                font: normal normal 27px/32px 'Cheap Pine W00 Sans', sans-serif;
            }
        }
    }
    .slider3 {
        position: relative;
        .caption-wrap {
            background: rgba(0, 0, 0, .65);
            position: absolute;
            padding: 30px;
            left: 0;
            bottom: 10%;
            max-width: 400px;
            color: #ECECEC;
            .caption {
                h2 {
                    text-transform: uppercase;
                    font-family: font_button10;
                }
            }
        }
    }
    .slider2, .slider4 {
        color: #F0F0E0;
        .container {
            //padding: 30px 120px;
            .col-md-3 {
                padding-left: 0;
            }
            .col-md-9 {
                padding-left: 30px;
                .slider2_entry {
                    h4 {
                        color: #B21406;
                        text-transform: uppercase;
                        margin-top: 0;
                        font-family: font_button10;
                        margin-bottom: 5px;
                    }
                    p {
                        font-family: "BrandonGrotW01-Regular";
                        font-size: 18px;
                    }
                }
            }
        }
        .slide-container {
            width: 100%;
            position: relative;
            .slide-stage {
                margin-bottom: 30px;
                .slide-image {
                    img {
                        width: 100%;
                    }
                }
            }
            .slide-pager {
                .slide-control-prev {
                    position: absolute;
                    left: 0;
                    bottom: 40%;
                }
                .slide-control-next {
                    position: absolute;
                    right: 0;
                    bottom: 40%;
                }
            }
        }
        h3 {
            text-align: center;
            text-transform: uppercase;
            font-family: font_button10;
            font-size: 25px;
            padding: 30px 0 0 0;
            //margin-bottom: -15px;
        }
    }
    footer {
        .footer {
            background: url(../images/background-contact.png) left center no-repeat, url(../images/bg-gray.png);
            .container {
                padding: 30px 140px;
                color: #F0F0E0;
                .footer-contact {
                    h3 {
                        text-align: center;
                        padding: 10px 0 0 0;
                        text-transform: uppercase;
                    }
                    .content-contact {
                        h3 {
                            margin-top: 0;
                        }
                        table {
                            margin-bottom: 15px;
                        }
                        .open-hours {
                            table {
                                width: 100%;
                            }
                        }
                        #restaurant-map {
                            height: 250px;
                        }
                    }
                }
            }
        }
        .footer2 {
            text-align: center;
            background: #981A18;
            padding: 30px;
            h3 {
                color: #f0f0e0;
                text-transform: uppercase;
                font-size: 21px;
                font-weight: 600;
                padding-bottom: 15px;
            }
            .form-email {
                input {
                    padding: 0 5px;
                    font-family: "Cheap Pine W00 Sans";
                    font-size: 20px;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                }
                #footer2_button {
                    background: #981A18;
                    color: #fff;
                    margin-left: 15px;
                    padding: 0 15px;
                    border: 1px solid #fff;
                }
            }
        }
        .footer3 {
            background: #161616;
            .footer3_1 {
                background: #161616;
                display: block;
                float: left;
                width: 50%;
                padding-top: 60px;
                h3 {
                    display: block;
                    height: 25px;
                    margin: 36px auto;
                    width: 25px;
                    .instagram-icon {
                        background: url('../images/icon-instagram.png') center center no-repeat;
                        display: block;
                        height: 27px;
                        text-indent: -10000px;
                        width: 25px;
                    }
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    li {
                        display: inline-block;
                        img {
                            display: block;
                            height: auto !important;
                            margin: 4.5% auto 0;
                            width: 91.25%;
                            border: 5px solid #fff;
                        }
                    }
                }
                .instagram-widget {
                    margin: 0px auto;
                    max-width: 450px;
                    padding: 0px 15px;
                }
            }
            .footer3_2 {
                background: black;
                padding-top: 60px;
                padding-bottom: 20px;
                overflow: hidden;
                text-align: center;
                h1 {
                    display: block;
                    height: 25px;
                    margin: 36px auto;
                    width: 25px;
                    a {
                        display: block;
                        height: 27px;
                        text-indent: -10000px;
                        width: 33px;
                        background: url('../images/icon-twitter.png') center center no-repeat;
                    }
                }
                ul {
                    color: #f0f0e0;
                    display: block;
                    margin: 0 auto;
                    width: 87.5%;
                    font: normal normal 19px/120% 'BrandonGrotW01-Regular', sans-serif;
                    li {
                        list-style: none;
                        margin-bottom: 15px;
                        a {
                            color: #801814;
                            text-decoration: none;
                        }
                    }
                }
                .fb-page {
                    padding: 0px 15px;
                }
            }
        }
        .footer4 {
            clear: both;
            display: block;
            margin: 0;
            padding: 30px 20px;
            width: 100%;
            background: #9c0917;
            .textwidget {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    li {
                        display: inline-block;
                    }
                    .scarletoak {
                        background-position: 0 0;
                    }
                    .gibbetgrill {
                        background-position: -115px 0;
                    }
                    .barn {
                        background-position: -243px 0;
                    }
                    .fireside {
                        background-position: -353px 0;
                    }
                    .gibbetfarm {
                        background-position: -484px 0;
                    }
                    .moraine {
                        background-position: -592px 0;
                    }
                    .fruitlands {
                        background-position: -723px 0;
                    }
                    .labelle {
                        background-position: -830px 0;
                    }
                }
            }
        }
        .footer5 {
            background: #000;
            .textwidget {
                margin: 0 auto;
                max-width: 1100px;
                p {
                    color: #F0F0E0;
                    font: 13px/42px 'BrandonGrotW01-Regular', sans-serif;
                    letter-spacing: 2.5px;
                    margin: 0;
                    text-transform: uppercase;
                    .span {
                        margin-right: 10px;
                    }
                    a {
                        color: #F0F0E0;
                        text-decoration: none;
                        &.group {
                            background: #9c0917;
                            color: #F0F0E0;
                            cursor: pointer;
                            display: block;
                            float: right;
                            font: 14px/42px 'Brandon Grot W02 Bold', sans-serif;
                            letter-spacing: 0;
                            padding: 0 14px;
                            text-align: center;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #wrapper footer .footer3 .footer3_1,
    #wrapper footer .footer3 .footer3_2 {
        clear: both;
        float: none;
        padding: 1px 0;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    #wrapper footer .footer3 .footer3_1 ul li {
        height: 160px;
        padding: 0;
        width: 160px;
        vertical-align: top;
    }
}

@media (max-max: 1200px) {
    #wrapper footer .footer .container {
        padding: 30px 0;
    }
}

@media (max-width: 768px) {
    .container {
        text-align: center;
    }
    #wrapper .slider2 .container {
        padding: 30px 15px;
        .slide-stage {}
    }
}

footer {
    .footer {
        .container {
            width: 100%;
            .footer-contact {
                overflow: auto;
                .content-contact {
                    overflow: auto;
                    font-family: 'BrandonGrotW01-Regular';
                }
            }
        }
    }
}

#slider {
    img {
        min-height: 300px;
    }
}

.bc-show-list-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    #wrapper .widget_black_studio_tinymce .widget-title {
        margin-bottom: -10px;
    }
    .navbar {
        background-color: transparent !important;
        .container-fluid {
            padding: 0px;
        }
        #bs-example-navbar-collapse-1 {
            background-color: #AE1B1D;
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            ul {
                margin-right: 0px;
                li {
                    a {
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    .content {
        margin-top: 0px !important;
    }
    .navbar-header {
        display: none;
    }
    .menu_top_navbar {
        li {
            text-align: center;
            a:hover {
                color: #8A0000;
            }
        }
    }
    .nav {
        margin-right: 0px;
    }
    .navbar-nav {
        margin: 0px 0px;
    }
    .navbar-collapse {
        max-height: 600px !important;
    }
    .navbar-right {
        text-align: center;
        padding-bottom: 20px;
        li:first-child {
            display: block;
            text-align: center;
            margin-bottom: 15px;
        }
        li {
            display: inline;
            a {
                display: inline;
            }
        }
    }
    #wrapper {
        .header {
            .navbar {
                .menu_top_navbar {
                    position: static;
                }
            }
        }
    }
    .bc-show-list-menu {
        display: inline-block;
        position: fixed;
        top: 11px;
        right: 20px;
        font-size: 25px !important;
        border-radius: 50%;
        background-color: #AE1B1D;
        background-image: url('../images/nav-mobile.png');
        background-position: center center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 980px) {
    .col-hold-left {
        border-right: 0px !important;
    }
    .col-hold {
        p:last-child {
            margin-bottom: 0px;
        }
    }
    .bc-rpsv {
        margin-top: 0px;
    }
    #wrapper {
        .content {
            .content-area {
                .main {
                    padding-bottom: 40px;
                    p {
                        .reservations {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
        .widget_black_studio_tinymce {
            .widget-title {
                margin-top: 0px;
            }
        }
        #menus {
            .header-menus {
                .bc_menus {
                    li {
                        display: block;
                        text-align: center;
                        margin: 0 auto 15px;
                    }
                }
            }
            .content {
                .menu_content {
                    padding: 50px 20px 30px;
                }
            }
        }
        .private-events {
            .buttons {
                margin-bottom: 0px;
                width: 100%;
                text-align: center;
                a {
                    display: block;
                    margin-bottom: 20px;
                    padding: 6px 14px;
                }
            }
        }
        footer {
            .footer {
                .container {
                    padding: 30px 20px;
                    strong {
                        font-family: 'BrandonGrotW01-Regular';
                        font-size: 15px;
                        text-transform: uppercase;
                        display: block;
                    }
                    .footer-contact {
                        .content-contact {
                            h3 {
                                color: #B01814;
                                font-size: 25px;
                                font-family: 'BrandonGrotW01-Regular';
                            }
                        }
                    }
                }
            }
            .footer5 {
                padding: 0px 30px;
                .textwidget {
                    margin-top: 20px;
                    p {
                        line-height: 23px;
                        span {
                            display: block;
                            text-align: center;
                        }
                        a {
                            display: block !important;
                            text-align: center;
                            float: none !important;
                        }
                        a.group {
                            margin-top: 15px;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}
