<div id="custom-page">
    <div class="col-xs-12 col-sm-4 col-md-3" ng-if="page != 'other'">
        <h4>Enable/Disable</h4>
        <div class="switch">
            <p class="title">Enable menu for: {{page}}</p>
            <div class="icon">
                <button class="switch-icon" ng-class="pages[page].isEnable() ? 'switch-icon-on': 'switch-icon-off'" ng-click="changePageStatus(page)"></button>
            </div>
        </div>
        <div class="switch" ng-repeat="section in pages[page].getSections()">
            <p class="title" ng-bind="section.name"></p>
            <div class="icon">
                <button class="switch-icon" ng-class="pages[page].isEnableSection(section.id) ? 'switch-icon-on': 'switch-icon-off'" ng-click="changeSectionStatus(page, section)"></button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
        <h4>Customize</h4>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" ng-repeat="item in customize" ng-show="item.getPage() == page">
                <div customize-item="item" customize-item-id="$index"></div>
            </div>
        </div>
    </div>
</div>
